openapi: 3.2.0
info:
  title: zerohash CLOB API
  description: '

    ### Authentication


    zerohash Uses HMAC SHA-256 verification to ensure the authenticity of API requests, follow instructions by link [https://docs.zerohash.com/reference/api-authentication](https://docs.zerohash.com/reference/api-authentication)


    <a href="/zh-swagger.json">Download zerohash OpenAPI Schema as JSON</a>

    '
  version: 1.7.0
servers:
- url: https://api.cert.zerohash.com
  description: Certification API server
security:
- apiKey: []
  apiPassphrase: []
tags:
- name: CLOB
  description: Central Limit Order Book
paths:
  /clob/accounts:
    post:
      tags:
      - CLOB
      summary: Create account (CLOB)
      description: Creates a new trading account on the CLOB. This is only relevant to our Central Limit Order Book (CLOB).
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: CLOB account attributes.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCLOBAccountBody'
      responses:
        '202':
          description: CLOB account creation accepted. The returned resource reflects the account created on the trading engine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCLOBAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
    get:
      tags:
      - CLOB
      summary: List accounts (CLOB)
      description: Retrieve a paginated list of your CLOB trading accounts. This is only relevant to our Central Limit Order Book (CLOB).
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - name: participant_code
        in: query
        description: Filter results to a single participant code.
        required: false
        schema:
          type: string
      - name: account_label
        in: query
        description: Filter results to a single account label.
        required: false
        schema:
          type: string
      - name: prefunded
        in: query
        description: Filter results to prefunded (`true`) or non-prefunded (`false`) accounts.
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: account_tier
        in: query
        description: Filter results to a single account tier.
        required: false
        schema:
          type: string
          enum:
          - lite
          - pro
          - bronze
          - silver
          - gold
      - name: page
        in: query
        description: Page number to fetch. Must be a positive integer. Defaults to 1 when omitted.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Successfully retrieved the paginated list of CLOB accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCLOBAccountsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
    patch:
      tags:
      - CLOB
      summary: Update CLOB account
      description: Updates `prefunded` and/or `account_tier` attributes of an account on the CLOB.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: CLOB account update. Identifies the target account by `account_label` (and optionally `participant_code`).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPrefundedAccountBody'
      responses:
        '202':
          description: CLOB account update accepted. Returns the updated attributes of the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchPrefundedAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /orders/v1/get_account_balance:
    post:
      tags:
      - CLOB
      summary: Get account balance
      description: Returns a snapshot of an account balance and buying power on the CLOB matching the given filters.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGetAccountBalanceRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGetAccountBalanceResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/list_account_balances:
    post:
      tags:
      - CLOB
      summary: List account balances
      description: Returns a snapshotted list  balances and buying for an account power on the CLOB matching the given filter.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostListAccountBalanceRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGetAccountBalancesResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/get_open_orders:
    post:
      tags:
      - CLOB
      summary: List open orders
      description: Returns snapshot of working orders the CLOB matching the given filters.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGetOpenOrdersRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGetOpenOrdersResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/search_orders:
    post:
      tags:
      - CLOB
      summary: List orders
      description: Search for orders places on the CLOB matching the given filters.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSearchOrdersRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchOrdersResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/search_executions:
    post:
      tags:
      - CLOB
      summary: Get order executions
      description: "Search for order executions on the CLOB matching the given filters. This endpoint returns all the executions for the given filters, and is paginated. \nNote: This executions means all the events that has been triggered for your orders on the CLOB."
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSearchExecutionsRequest'
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchExecutionsResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/create_order_subscription:
    post:
      tags:
      - CLOB
      summary: Create order subscription
      description: Create a subscription to receive updates on working orders.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreateOrderSubscriptionRequest'
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCreateOrderSubscriptionResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/create_market_data_subscription:
    post:
      tags:
      - CLOB
      summary: Market data subscription
      description: Subscribe to market data for CLOB instrument.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMarketDataSubscriptionRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMarketDataSubscriptionResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/insert_order:
    post:
      tags:
      - CLOB
      summary: Submit order
      description: Submit a new order to the CLOB.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInsertOrderRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostInsertOrderResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/cancel_order:
    post:
      tags:
      - CLOB
      summary: Cancel order
      description: Cancel an order on the CLOB.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCancelOrderRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCancelOrderResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/list_instruments:
    post:
      tags:
      - CLOB
      summary: List instruments
      description: List all instruments available on the CLOB.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostListInstrumentsRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostListInstrumentsResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
  /orders/v1/get_trade_stats:
    post:
      tags:
      - CLOB
      summary: Get trade stats
      description: Get trade stats for a given instrument.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTradeStatsRequest'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTradeStatsResponse'
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCLOBGeneric'
components:
  schemas:
    PostCancelOrderRequest:
      type: object
      properties:
        clord_id:
          type: string
          example: '1245567889'
          description: Client-provided order ID.
        order_id:
          type: string
          example: 51H5D2K2A00M
          description: Unique order identifier.
        symbol:
          type: string
          example: ETH/USD
          description: The trading pair for the order.
        user:
          type: string
          description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
          example: firms/F-PLAT01/user/CUST01
          enum:
          - firms/F-{platform_code}/users/{participant_code}
          - firms/F-{platform_code}/users/{account_label}
          - firms/{zerohash}/users/{platform_code}
    PostCLOBAccountResponse:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/PostCLOBResponseEntity'
    PostInsertOrderRequest:
      oneOf:
      - $ref: '#/components/schemas/PostInsertOrderRequestEntity'
      - title: Limit Order
        description: Limit order request for inserting a new order.
        type: object
        properties:
          account:
            type: string
            example: firms/F-PLAT01/accounts/CUST01-customlabel
            description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

              - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

              - General account label : `firms/{platform_code}/accounts/{participant_code}`.

              '
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          side:
            type: string
            example: SIDE_BUY
            description: The side of the order, indicating whether it is a buy or sell order.
          symbol:
            type: string
            example: ETH/USD
            description: The trading pair for the order.
          order_qty:
            type: string
            example: '200000'
            description: The quantity of the order scaled by using the `fractional_quantity_scale`.
          price:
            type: string
            example: '420000'
            description: The limit price for the order scaled by using the `price_scale`.
          clord_id:
            type: string
            example: '1245567889'
            description: Client-provided order ID.
          self_match_prevention_instruction:
            type: string
            enum:
            - SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            - SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR
            - SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING
            - SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH
            example: SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            description: "The self-match prevention instruction\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED`: \nAn unset value for the self match prevention instruction uses the default behavior of the exchange, which is to reject the incoming order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR`: \nReject the incoming aggressor order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING`: \nCancel any resting orders on the book that would self match and allow the aggressor to insert on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH`: \nCancel any resting orders on the book that would self match and reject the aggressor insertion on the book."
          all_or_none:
            type: boolean
            example: false
            description: Indicates if the order is an all-or-none order. An all-or-none order will only execute if the entire order quantity can be filled, otherwise it will remain as instructed with regards to time in force and type of the order.
          best_limit:
            type: boolean
            example: false
            description: Indicates if the order should be entered at the best available price on the same side of the market.
          client_account_id:
            type: string
            example: ''
          client_participant_id:
            type: string
            example: ''
          good_till_time:
            type: string
            format: date-time
            nullable: true
            example: '2025-09-12T18:07:22.155905574Z'
            description: The time until which the order is valid. If the order has a time in force of `TIME_IN_FORCE_GOOD_TILL_TIME`, then this field will indicate the time until which the order will remain active before it is cancelled by the system.
          ignore_price_validity_checks:
            type: boolean
            example: false
            description: 'Indicates if the order should bypass price validity checks and be accepted even if the price is outside of the normal price bands or limits set by the exchange.

              This may be used in conjunction with order `type` as `ORDER_TYPE_MARKET_TO_LIMIT` and the `side` as `SIDE_SELL` to bypass the exchange minimum order placement values to liquidate customer positions.'
          immediately_executable_limit:
            type: boolean
            example: false
            description: Indicates if the order should be executed immediately at the best available price.
          min_qty:
            type: string
            example: '0'
          order_capacity:
            type: string
            example: ORDER_CAPACITY_INDIVIDUAL
            description: 'The order capacity for the order, which indicates the capacity in which the participant is acting when placing the order. This may be used by the exchange for regulatory reporting purposes.


              - `ORDER_CAPACITY_UNDEFINED`: An unset value for order capacity uses the default behavior of the exchange, which is typically to treat the order as if it were entered in an individual capacity.

              - `ORDER_CAPACITY_AGENCY`: The participant is acting in an agency capacity, meaning they are placing the order on behalf of another party.

              - `ORDER_CAPACITY_PRINCIPAL`: The participant is acting in a principal capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_PROPRIETARY`: The participant is acting in a proprietary capacity, meaning they are placing the order for their own account but not for their own risk (e.g., a market maker).

              - `ORDER_CAPACITY_INDIVIDUAL`: The participant is acting in an individual capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_RISKLESS_PRINCIPAL`: The participant is acting in a riskless principal capacity, meaning they are placing the order on behalf of another party but will not assume any market risk (e.g., they will hedge out the position immediately).

              - `ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER`: The participant is acting as an agent for another member of the exchange.'
            enum:
            - ORDER_CAPACITY_UNDEFINED
            - ORDER_CAPACITY_AGENCY
            - ORDER_CAPACITY_PRINCIPAL
            - ORDER_CAPACITY_PROPRIETARY
            - ORDER_CAPACITY_INDIVIDUAL
            - ORDER_CAPACITY_RISKLESS_PRINCIPAL
            - ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER
          strict_limit:
            type: boolean
            example: false
            description: Indicates if the order is a strict limit order and must be executed at the specified price.
          time_in_force:
            type: string
            example: TIME_IN_FORCE_GOOD_TILL_CANCEL
            enum:
            - TIME_IN_FORCE_GOOD_TILL_CANCEL
            - TIME_IN_FORCE_IMMEDIATE_OR_CANCEL
            - TIME_IN_FORCE_FILL_OR_KILL
            - TIME_IN_FORCE_GOOD_TILL_TIME
            description: 'The time in force for the order, which indicates how long the order will remain active before it is executed or expires.


              - `TIME_IN_FORCE_UNDEFINED`: An unset value for time in force uses the default behavior of the exchange, which is typically to treat the order as a day order that expires at the end of the trading day.

              - `TIME_IN_FORCE_GOOD_TILL_CANCEL`: The order will remain active until it is executed or cancelled by the participant.

              - `TIME_IN_FORCE_IMMEDIATE_OR_CANCEL`: The order will be executed immediately at the best available price, and any portion of the order that is not filled will be cancelled.

              - `TIME_IN_FORCE_FILL_OR_KILL`: The order will be executed immediately at the best available price, and if the entire order cannot be filled, it will be cancelled.

              - `TIME_IN_FORCE_GOOD_TILL_TIME`: The order will remain active until it is executed or until a specified time in the future, at which point it will expire if it has not been filled.'
          type:
            type: string
            example: ORDER_TYPE_LIMIT
            enum:
            - ORDER_TYPE_MARKET_TO_LIMIT
            - ORDER_TYPE_LIMIT
            - ORDER_TYPE_STOP
            - ORDER_TYPE_STOP_LIMIT
            description: The type of the order, indicating whether it is a limit or market order.
        required:
        - account
        - user
        - side
        - type
        - time_in_force
        - symbol
        - order_qty
        - price
      - title: Market to Limit Order
        description: Market to limit order request for inserting a new order.
        type: object
        properties:
          account:
            type: string
            example: firms/F-PLAT01/accounts/CUST01-customlabel
            description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

              - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

              - General account label : `firms/{platform_code}/accounts/{participant_code}`.

              '
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          side:
            type: string
            example: SIDE_BUY
            description: The side of the order, indicating whether it is a buy or sell order.
          symbol:
            type: string
            example: ETH/USD
            description: The trading pair for the order.
          order_qty:
            type: string
            example: '200000'
            description: The quantity of the order scaled by using the `fractional_quantity_scale`.
          cash_order_qty:
            type: string
            example: '0'
            description: The notional value of the order to execute, used with market orders.
          clord_id:
            type: string
            example: '1245567889'
            description: Client-provided order ID.
          self_match_prevention_instruction:
            type: string
            enum:
            - SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            - SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR
            - SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING
            - SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH
            example: SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            description: "The self-match prevention instruction\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED`: \nAn unset value for the self match prevention instruction uses the default behavior of the exchange, which is to reject the incoming order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR`: \nReject the incoming aggressor order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING`: \nCancel any resting orders on the book that would self match and allow the aggressor to insert on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH`: \nCancel any resting orders on the book that would self match and reject the aggressor insertion on the book."
          all_or_none:
            type: boolean
            example: false
            description: Indicates if the order is an all-or-none order. An all-or-none order will only execute if the entire order quantity can be filled, otherwise it will remain as instructed with regards to time in force and type of the order.
          client_account_id:
            type: string
            example: ''
          client_participant_id:
            type: string
            example: ''
          ignore_price_validity_checks:
            type: boolean
            example: false
            description: 'Indicates if the order should bypass price validity checks and be accepted even if the price is outside of the normal price bands or limits set by the exchange.

              This may be used in conjunction with order `type` as `ORDER_TYPE_MARKET_TO_LIMIT` and the `side` as `SIDE_SELL` to bypass the exchange minimum order placement values to liquidate customer positions.'
          order_capacity:
            type: string
            example: ORDER_CAPACITY_INDIVIDUAL
            description: 'The order capacity for the order, which indicates the capacity in which the participant is acting when placing the order. This may be used by the exchange for regulatory reporting purposes.


              - `ORDER_CAPACITY_UNDEFINED`: An unset value for order capacity uses the default behavior of the exchange, which is typically to treat the order as if it were entered in an individual capacity.

              - `ORDER_CAPACITY_AGENCY`: The participant is acting in an agency capacity, meaning they are placing the order on behalf of another party.

              - `ORDER_CAPACITY_PRINCIPAL`: The participant is acting in a principal capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_PROPRIETARY`: The participant is acting in a proprietary capacity, meaning they are placing the order for their own account but not for their own risk (e.g., a market maker).

              - `ORDER_CAPACITY_INDIVIDUAL`: The participant is acting in an individual capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_RISKLESS_PRINCIPAL`: The participant is acting in a riskless principal capacity, meaning they are placing the order on behalf of another party but will not assume any market risk (e.g., they will hedge out the position immediately).

              - `ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER`: The participant is acting as an agent for another member of the exchange.'
            enum:
            - ORDER_CAPACITY_UNDEFINED
            - ORDER_CAPACITY_AGENCY
            - ORDER_CAPACITY_PRINCIPAL
            - ORDER_CAPACITY_PROPRIETARY
            - ORDER_CAPACITY_INDIVIDUAL
            - ORDER_CAPACITY_RISKLESS_PRINCIPAL
            - ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER
          time_in_force:
            type: string
            example: TIME_IN_FORCE_GOOD_TILL_CANCEL
            enum:
            - TIME_IN_FORCE_GOOD_TILL_CANCEL
            - TIME_IN_FORCE_IMMEDIATE_OR_CANCEL
            - TIME_IN_FORCE_FILL_OR_KILL
            - TIME_IN_FORCE_GOOD_TILL_TIME
            description: 'The time in force for the order, which indicates how long the order will remain active before it is executed or expires.


              - `TIME_IN_FORCE_UNDEFINED`: An unset value for time in force uses the default behavior of the exchange, which is typically to treat the order as a day order that expires at the end of the trading day.

              - `TIME_IN_FORCE_GOOD_TILL_CANCEL`: The order will remain active until it is executed or cancelled by the participant.

              - `TIME_IN_FORCE_IMMEDIATE_OR_CANCEL`: The order will be executed immediately at the best available price, and any portion of the order that is not filled will be cancelled.

              - `TIME_IN_FORCE_FILL_OR_KILL`: The order will be executed immediately at the best available price, and if the entire order cannot be filled, it will be cancelled.

              - `TIME_IN_FORCE_GOOD_TILL_TIME`: The order will remain active until it is executed or until a specified time in the future, at which point it will expire if it has not been filled.'
          type:
            type: string
            example: ORDER_TYPE_MARKET_TO_LIMIT
            enum:
            - ORDER_TYPE_MARKET_TO_LIMIT
            description: The type of the order, indicating whether it is a limit or market order.
        required:
        - account
        - user
        - side
        - type
        - time_in_force
        - symbol
        - order_qty
      - title: Stop Order
        description: Stop order request for inserting a new order.
        type: object
        properties:
          account:
            type: string
            example: firms/F-PLAT01/accounts/CUST01-customlabel
            description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

              - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

              - General account label : `firms/{platform_code}/accounts/{participant_code}`.

              '
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          side:
            type: string
            example: SIDE_BUY
            description: The side of the order, indicating whether it is a buy or sell order.
          symbol:
            type: string
            example: ETH/USD
            description: The trading pair for the order.
          order_qty:
            type: string
            example: '200000'
            description: The quantity of the order scaled by using the `fractional_quantity_scale`.
          stop_price:
            type: string
            example: '0'
          clord_id:
            type: string
            example: '1245567889'
            description: Client-provided order ID.
          self_match_prevention_instruction:
            type: string
            enum:
            - SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            - SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR
            - SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING
            - SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH
            example: SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            description: "The self-match prevention instruction\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED`: \nAn unset value for the self match prevention instruction uses the default behavior of the exchange, which is to reject the incoming order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR`: \nReject the incoming aggressor order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING`: \nCancel any resting orders on the book that would self match and allow the aggressor to insert on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH`: \nCancel any resting orders on the book that would self match and reject the aggressor insertion on the book."
          all_or_none:
            type: boolean
            example: false
            description: Indicates if the order is an all-or-none order. An all-or-none order will only execute if the entire order quantity can be filled, otherwise it will remain as instructed with regards to time in force and type of the order.
          client_account_id:
            type: string
            example: ''
          client_participant_id:
            type: string
            example: ''
          good_till_time:
            type: string
            format: date-time
            nullable: true
            example: '2025-09-12T18:07:22.155905574Z'
            description: The time until which the order is valid. If the order has a time in force of `TIME_IN_FORCE_GOOD_TILL_TIME`, then this field will indicate the time until which the order will remain active before it is cancelled by the system.
          ignore_price_validity_checks:
            type: boolean
            example: false
            description: 'Indicates if the order should bypass price validity checks and be accepted even if the price is outside of the normal price bands or limits set by the exchange.

              This may be used in conjunction with order `type` as `ORDER_TYPE_MARKET_TO_LIMIT` and the `side` as `SIDE_SELL` to bypass the exchange minimum order placement values to liquidate customer positions.'
          order_capacity:
            type: string
            example: ORDER_CAPACITY_INDIVIDUAL
            description: 'The order capacity for the order, which indicates the capacity in which the participant is acting when placing the order. This may be used by the exchange for regulatory reporting purposes.


              - `ORDER_CAPACITY_UNDEFINED`: An unset value for order capacity uses the default behavior of the exchange, which is typically to treat the order as if it were entered in an individual capacity.

              - `ORDER_CAPACITY_AGENCY`: The participant is acting in an agency capacity, meaning they are placing the order on behalf of another party.

              - `ORDER_CAPACITY_PRINCIPAL`: The participant is acting in a principal capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_PROPRIETARY`: The participant is acting in a proprietary capacity, meaning they are placing the order for their own account but not for their own risk (e.g., a market maker).

              - `ORDER_CAPACITY_INDIVIDUAL`: The participant is acting in an individual capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_RISKLESS_PRINCIPAL`: The participant is acting in a riskless principal capacity, meaning they are placing the order on behalf of another party but will not assume any market risk (e.g., they will hedge out the position immediately).

              - `ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER`: The participant is acting as an agent for another member of the exchange.'
            enum:
            - ORDER_CAPACITY_UNDEFINED
            - ORDER_CAPACITY_AGENCY
            - ORDER_CAPACITY_PRINCIPAL
            - ORDER_CAPACITY_PROPRIETARY
            - ORDER_CAPACITY_INDIVIDUAL
            - ORDER_CAPACITY_RISKLESS_PRINCIPAL
            - ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER
          time_in_force:
            type: string
            example: TIME_IN_FORCE_GOOD_TILL_CANCEL
            enum:
            - TIME_IN_FORCE_GOOD_TILL_CANCEL
            - TIME_IN_FORCE_IMMEDIATE_OR_CANCEL
            - TIME_IN_FORCE_FILL_OR_KILL
            - TIME_IN_FORCE_GOOD_TILL_TIME
            description: 'The time in force for the order, which indicates how long the order will remain active before it is executed or expires.


              - `TIME_IN_FORCE_UNDEFINED`: An unset value for time in force uses the default behavior of the exchange, which is typically to treat the order as a day order that expires at the end of the trading day.

              - `TIME_IN_FORCE_GOOD_TILL_CANCEL`: The order will remain active until it is executed or cancelled by the participant.

              - `TIME_IN_FORCE_IMMEDIATE_OR_CANCEL`: The order will be executed immediately at the best available price, and any portion of the order that is not filled will be cancelled.

              - `TIME_IN_FORCE_FILL_OR_KILL`: The order will be executed immediately at the best available price, and if the entire order cannot be filled, it will be cancelled.

              - `TIME_IN_FORCE_GOOD_TILL_TIME`: The order will remain active until it is executed or until a specified time in the future, at which point it will expire if it has not been filled.'
          type:
            type: string
            example: ORDER_TYPE_STOP
            enum:
            - ORDER_TYPE_STOP
            description: The type of the order, indicating whether it is a limit or market order.
        required:
        - account
        - user
        - side
        - type
        - time_in_force
        - symbol
        - order_qty
        - stop_price
      - title: Stop Limit Order
        description: Stop limit order request for inserting a new order.
        type: object
        properties:
          account:
            type: string
            example: firms/F-PLAT01/accounts/CUST01-customlabel
            description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

              - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

              - General account label : `firms/{platform_code}/accounts/{participant_code}`.

              '
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          side:
            type: string
            example: SIDE_BUY
            description: The side of the order, indicating whether it is a buy or sell order.
          symbol:
            type: string
            example: ETH/USD
            description: The trading pair for the order.
          order_qty:
            type: string
            example: '200000'
            description: The quantity of the order scaled by using the `fractional_quantity_scale`.
          price:
            type: string
            example: '420000'
            description: The limit price for the order scaled by using the `price_scale`.
          stop_price:
            type: string
            example: '0'
          clord_id:
            type: string
            example: '1245567889'
            description: Client-provided order ID.
          self_match_prevention_instruction:
            type: string
            enum:
            - SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            - SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR
            - SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING
            - SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH
            example: SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
            description: "The self-match prevention instruction\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED`: \nAn unset value for the self match prevention instruction uses the default behavior of the exchange, which is to reject the incoming order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR`: \nReject the incoming aggressor order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING`: \nCancel any resting orders on the book that would self match and allow the aggressor to insert on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH`: \nCancel any resting orders on the book that would self match and reject the aggressor insertion on the book."
          all_or_none:
            type: boolean
            example: false
            description: Indicates if the order is an all-or-none order. An all-or-none order will only execute if the entire order quantity can be filled, otherwise it will remain as instructed with regards to time in force and type of the order.
          client_account_id:
            type: string
            example: ''
          client_participant_id:
            type: string
            example: ''
          good_till_time:
            type: string
            format: date-time
            nullable: true
            example: '2025-09-12T18:07:22.155905574Z'
            description: The time until which the order is valid. If the order has a time in force of `TIME_IN_FORCE_GOOD_TILL_TIME`, then this field will indicate the time until which the order will remain active before it is cancelled by the system.
          ignore_price_validity_checks:
            type: boolean
            example: false
            description: 'Indicates if the order should bypass price validity checks and be accepted even if the price is outside of the normal price bands or limits set by the exchange.

              This may be used in conjunction with order `type` as `ORDER_TYPE_MARKET_TO_LIMIT` and the `side` as `SIDE_SELL` to bypass the exchange minimum order placement values to liquidate customer positions.'
          order_capacity:
            type: string
            example: ORDER_CAPACITY_INDIVIDUAL
            description: 'The order capacity for the order, which indicates the capacity in which the participant is acting when placing the order. This may be used by the exchange for regulatory reporting purposes.


              - `ORDER_CAPACITY_UNDEFINED`: An unset value for order capacity uses the default behavior of the exchange, which is typically to treat the order as if it were entered in an individual capacity.

              - `ORDER_CAPACITY_AGENCY`: The participant is acting in an agency capacity, meaning they are placing the order on behalf of another party.

              - `ORDER_CAPACITY_PRINCIPAL`: The participant is acting in a principal capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_PROPRIETARY`: The participant is acting in a proprietary capacity, meaning they are placing the order for their own account but not for their own risk (e.g., a market maker).

              - `ORDER_CAPACITY_INDIVIDUAL`: The participant is acting in an individual capacity, meaning they are placing the order for their own account and risk.

              - `ORDER_CAPACITY_RISKLESS_PRINCIPAL`: The participant is acting in a riskless principal capacity, meaning they are placing the order on behalf of another party but will not assume any market risk (e.g., they will hedge out the position immediately).

              - `ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER`: The participant is acting as an agent for another member of the exchange.'
            enum:
            - ORDER_CAPACITY_UNDEFINED
            - ORDER_CAPACITY_AGENCY
            - ORDER_CAPACITY_PRINCIPAL
            - ORDER_CAPACITY_PROPRIETARY
            - ORDER_CAPACITY_INDIVIDUAL
            - ORDER_CAPACITY_RISKLESS_PRINCIPAL
            - ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER
          time_in_force:
            type: string
            example: TIME_IN_FORCE_GOOD_TILL_CANCEL
            enum:
            - TIME_IN_FORCE_GOOD_TILL_CANCEL
            - TIME_IN_FORCE_IMMEDIATE_OR_CANCEL
            - TIME_IN_FORCE_FILL_OR_KILL
            - TIME_IN_FORCE_GOOD_TILL_TIME
            description: 'The time in force for the order, which indicates how long the order will remain active before it is executed or expires.


              - `TIME_IN_FORCE_UNDEFINED`: An unset value for time in force uses the default behavior of the exchange, which is typically to treat the order as a day order that expires at the end of the trading day.

              - `TIME_IN_FORCE_GOOD_TILL_CANCEL`: The order will remain active until it is executed or cancelled by the participant.

              - `TIME_IN_FORCE_IMMEDIATE_OR_CANCEL`: The order will be executed immediately at the best available price, and any portion of the order that is not filled will be cancelled.

              - `TIME_IN_FORCE_FILL_OR_KILL`: The order will be executed immediately at the best available price, and if the entire order cannot be filled, it will be cancelled.

              - `TIME_IN_FORCE_GOOD_TILL_TIME`: The order will remain active until it is executed or until a specified time in the future, at which point it will expire if it has not been filled.'
          type:
            type: string
            example: ORDER_TYPE_STOP_LIMIT
            enum:
            - ORDER_TYPE_STOP_LIMIT
            description: The type of the order, indicating whether it is a limit or market order.
        required:
        - account
        - user
        - side
        - type
        - time_in_force
        - symbol
        - order_qty
        - price
        - stop_price
    PostGetOpenOrdersRequest:
      type: object
      properties:
        accounts:
          type: array
          items:
            type: string
            example: PAR001
            description: The account ID
        user:
          type: string
          description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
          example: firms/F-PLAT01/user/CUST01
          enum:
          - firms/F-{platform_code}/users/{participant_code}
          - firms/F-{platform_code}/users/{account_label}
          - firms/{zerohash}/users/{platform_code}
        symbols:
          type: array
          description: The array of symbols to subscribe to for market data
          items:
            type: string
            example: ETH/USD
    Code503:
      type: object
      description: 'A downstream dependency was unavailable, timed out, or returned a retryable error. Safe to retry; the response carries a `zh-allow-retry: true` header.'
      required:
      - error
      properties:
        error:
          type: string
          example: Service Unavailable
    PostInsertOrderResponse:
      type: object
      properties:
        order_id:
          type: string
          example: 4RHK6N1G05ZF
          description: The unique ID for the order generated by zerohash
    PostGetAccountBalanceRequest:
      oneOf:
      - title: Request Participants Balance
        description: 'Use this request body to retrieve the balance for a specific participant.

          Note: The participants'' Fiat balances can be maintained by the platform''s account'
        type: object
        properties:
          name:
            type: string
            example: firms/F-PLAT01/accounts/CUST01-customlabel
            description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

              - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

              - General account label : `firms/{platform_code}/accounts/{participant_code}`.

              '
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          currency:
            type: string
            description: Currency code to return the balance in (ISO 4217, three letters).
            example:
            - USD
            - BTC
            - ETH
        required:
        - name
        - user
        - currency
      - title: Request Platform Float Account Balance
        description: 'Use this request body to retrieve the balance for a platform float account.

          Note: The platform''s Float balances are held in accounts under the ZEROHASH namespace.'
        type: object
        properties:
          name:
            type: string
            example: firms/{ZEROHASH}/accounts/{platform_code}
            description: 'Fully-qualified Account. Format: `firms/{ZEROHASH}/accounts/{platform_code}`. This value is case sensitive.'
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          currency:
            type: string
            description: Currency code to return the balance in (ISO 4217, three letters).
            example:
            - USD
        required:
        - name
        - user
        - currency
      - title: Request Platform Commission Account Balance
        description: Use this request body to retrieve the balance for a platform commission account.
        type: object
        properties:
          name:
            type: string
            example: firms/{platform_code}/accounts/{platform_code}-commission
            description: 'Fully-qualified Account. Format: `firms/{platform_code}/accounts/{platform_code}-commission`. This value is case sensitive.'
          user:
            type: string
            description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
            example: firms/F-PLAT01/user/CUST01
            enum:
            - firms/F-{platform_code}/users/{participant_code}
            - firms/F-{platform_code}/users/{account_label}
            - firms/{zerohash}/users/{platform_code}
          currency:
            type: string
            description: Currency code to return the balance in (ISO 4217, three letters).
            example:
            - USD
        required:
        - name
        - user
        - currency
    Code404:
      type: object
      description: The requested resource does not exist or is not visible to the caller.
      required:
      - error
      properties:
        error:
          type: string
          example: Not Found
    PostTradeStatsRequest:
      type: object
      properties:
        bars:
          type: number
          example: 0
          description: The number of bars to return in the given time window
        end_time:
          type: string
          example: '2024-04-19T22:48:56.383Z'
          description: The end time of the time window
        start_time:
          type: string
          example: '2024-04-19T22:48:56.383Z'
          description: The start time of the time window
        symbol:
          type: string
          example: BTC/USD
          description: The symbol for the instrument
    PostGetOpenOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          description: A list of open orders.
          items:
            type: object
            properties:
              id:
                type: string
                example: 51H5D2K2A00M
                description: Unique order identifier.
              type:
                type: string
                example: ORDER_TYPE_LIMIT
                enum:
                - ORDER_TYPE_MARKET_TO_LIMIT
                - ORDER_TYPE_LIMIT
                - ORDER_TYPE_STOP
                - ORDER_TYPE_STOP_LIMIT
                description: The type of the order, indicating whether it is a limit or market order.
              side:
                type: string
                example: SIDE_BUY
                description: The side of the order, indicating whether it is a buy or sell order.
              order_qty:
                type: string
                example: '200000'
                description: The quantity of the order scaled by using the `fractional_quantity_scale`.
              symbol:
                type: string
                example: ETH/USD
                description: The trading pair for the order.
              clord_id:
                type: string
                example: '1245567889'
                description: Client-provided order ID.
              time_in_force:
                type: string
                example: TIME_IN_FORCE_GOOD_TILL_CANCEL
                enum:
                - TIME_IN_FORCE_GOOD_TILL_CANCEL
                - TIME_IN_FORCE_IMMEDIATE_OR_CANCEL
                - TIME_IN_FORCE_FILL_OR_KILL
                - TIME_IN_FORCE_GOOD_TILL_TIME
                description: 'The time in force for the order, which indicates how long the order will remain active before it is executed or expires.


                  - `TIME_IN_FORCE_UNDEFINED`: An unset value for time in force uses the default behavior of the exchange, which is typically to treat the order as a day order that expires at the end of the trading day.

                  - `TIME_IN_FORCE_GOOD_TILL_CANCEL`: The order will remain active until it is executed or cancelled by the participant.

                  - `TIME_IN_FORCE_IMMEDIATE_OR_CANCEL`: The order will be executed immediately at the best available price, and any portion of the order that is not filled will be cancelled.

                  - `TIME_IN_FORCE_FILL_OR_KILL`: The order will be executed immediately at the best available price, and if the entire order cannot be filled, it will be cancelled.

                  - `TIME_IN_FORCE_GOOD_TILL_TIME`: The order will remain active until it is executed or until a specified time in the future, at which point it will expire if it has not been filled.'
              account:
                type: string
                example: firms/F-PLAT01/accounts/CUST01-customlabel
                description: 'The account associated with the order. This can be either the `participant_code` assigned by zerohash or the `account_label` defined by the platform.

                  - Custom account label : `firms/{platform_code}/accounts/{account_label}`.

                  - General account label : `firms/{platform_code}/accounts/{participant_code}`.

                  '
              user:
                type: string
                description: "Fully-qualified user. Format: `firms/F-{platform_code}/users/{participant_code}`. This value is case sensitive.\n### Clearing House Designations\n* **USA:** 00SXCM (ZH Clearing House)\n* **EU:** ZHDSEU\n\n### Prefunded Model \n  * USD balances are ledgered directly to the participants on their CLOB account.\n    * Participants will be credit checked against their available balance on the zerohash platform.\n  * Accounts must be registed with the `prefunded` field as `true` on the `POST /accounts` endpoint.\n * Trade settlement is handled directly between participants and occurs instantly upon execution.\n\n### Novated Model\n * Utilizes a central float account to manage the cumulative buying power of your customers.\n   * USD balance is ledgeder to the platforms float account.\n   * USD credit checks must be performed by the platform prior to order placement.\n * Accounts must be registed with the `prefunded` field as `false` on the `POST /accounts` endpoint.\n * Allows platforms to manage the buying power of their customers effectively, allowing for better operational efficiency."
                example: firms/F-PLAT01/user/CUST01
                enum:
                - firms/F-{platform_code}/users/{participant_code}
                - firms/F-{platform_code}/users/{account_label}
                - firms/{zerohash}/users/{platform_code}
              cum_qty:
                type: string
                example: '0'
                description: Cumulative filled quantity of the order scaled by using the `fractional_quantity_scale`.
              avg_px:
                type: string
                example: '0'
                description: Average fill price of the order scaled by using the `price_scale`.
              leaves_qty:
                type: string
                example: '200000'
                description: Remaining quantity to be filled of the order scaled by using the `fractional_quantity_scale`.
              state:
                type: string
                example: ORDER_STATE_NEW
                enum:
                - ORDER_STATE_NEW
                - ORDER_STATE_PARTIALLY_FILLED
                - ORDER_STATE_FILLED
                - ORDER_STATE_CANCELED
                - ORDER_STATE_REPLACED
                - ORDER_STATE_REJECTED
                - ORDER_STATE_EXPIRED
                - ORDER_STATE_PENDING_NEW
                - ORDER_STATE_PENDING_REPLACE
                - ORDER_STATE_PENDING_CANCEL
                - ORDER_STATE_PENDING_RISK
                description: 'OrderState denotes the current order state.


                  - `ORDER_STATE_PENDING_NEW`: Order received by exchange at edges of the system but has not been processed by matching engine.

                  - `ORDER_STATE_PENDING_REPLACE`: Cancel Replace request received by exchange at edges of the system but has not been processed by matching engine.

                  - `ORDER_STATE_PENDING_CANCEL`: Cancel request received by exchange at edges of the system but has not been processed by matching engine.

                  - `ORDER_STATE_PENDING_RISK`: Order is pending risk approval'
              participant:
                type: string
                example: firms/F-PLAT01/users/CUST01
              price:
                type: string
                example: '420000'
                description: The limit price for the order scaled by using the `price_scale`.
              insert_time:
                type: string
                format: date-time
                example: '2025-09-11T18:07:22.155905574Z'
              stop_price:
                type: string
                example: '0'
              min_qty:
                type: string
                example: '0'
              create_time:
                type: string
                format: date-time
                example: '2025-09-11T18:07:22.152425620Z'
              all_or_none:
                type: boolean
                example: false
                description: Indicates if the order is an all-or-none order. An all-or-none order will only execute if the entire order quantity can be filled, otherwise it will remain as instructed with regards to time in force and type of the order.
              cross_id:
                type: string
                example: ''
              host_cross_id:
                type: string
                example: ''
              submitting_participant:
                type: string
                example: ''
              client_account_id:
                type: string
                example: ''
              client_participant_id:
                type: string
                example: ''
              parent_order_id:
                type: string
                example: ''
              commissions_basis_points:
                type: string
                example: '40'
                description: The commission rate in basis points that was/will be applied to the order upon matching.
              participate_dont_initiate:
                type: boolean
                example: false
                description: 'Indicates if the order should participate but not initiate, meaning it will only take liquidity and not provide it.

                  Often referred to as post-only, an order with this flag set will not match with existing orders at the time of entry, and if it would have matched, it will be cancelled instead. Orders with this flag set may still execute against orders that are entered subsequently that would match with it.'
              cash_order_qty:
                type: string
                example: '0'
                description: The notional value of the order to execute, used with market orders.
              symbol_sub_type:
                type: string
                example: ''
                description: 'The sub-type of the symbol, if applicable. '
              strict_limit:
                type: boolean
                example: false
                description: Indicates if the order is a strict limit order and must be executed at the specified price.
              risk_check_time:
                type: string
                format: date-time
                example: '2025-09-11T18:07:22.155871055Z'
              collateral_memo:
                type: string
                example: Fully Collateralized
                description: Memo regarding the collateral status of the order.
              priority_weight:
                type: string
                example: '0'
                description: The priority weight of the order, which may be used by the exchange to determine order priority in matching.
              good_till_time:
                type: string
                format: date-time
                nullable: true
                example: '2025-09-12T18:07:22.155905574Z'
                description: The time until which the order is valid. If the order has a time in force of `TIME_IN_FORCE_GOOD_TILL_TIME`, then this field will indicate the time until which the order will remain active before it is cancelled by the system.
              context:
                type: object
                properties:
                  any_context:
                    type: object
                    nullable: true
                    description: Arbitrary context data.
                  fix_context:
                    type: object
                    properties:
                      begin_string:
                        type: string
                        example: FIXT.1.1
                        description: The FIX protocol version used in the order message, if applicable.
                      target_comp_id:
                        type: string
                        example: C-F-PLAT01-1
                        description: The identifier of the target firm or exchange to which the order was sent, if applicable.
                      sender_comp_id:
                        type: string
                        example: ZERO
                        description: The identifier of the sender firm or exchange from which the order was sent, if applicable.
                      orig_clord_id:
                        type: string
                        example: 1f19d5e1-344b-4aac-b737-a467be69e4fe
                        description: The original client order ID, if applicable.
                      security_type:
                        type: string
                        example: ''
                        description: The type of security, if applicable.
                      target_sub_id:
                        type: string
                        example: 1f19d5e1-344b-4aac-b737-a467be69e4fe
                        description: The sub-identifier of the target firm or exchange, if applicable.
                      target_location_id:
                        type: string
                        example: 1f19d5e1-344b-4aac-b737-a467be69e4fe
                        description: The location identifier of the target firm or exchange, if applicable.
                      sender_sub_id:
                        type: string
                        example: CUST01
                        description: The sub-identifier of the sender firm or exchange, if applicable.
                      sender_location_id:
                        type: string
                        example: ''
                        description: The location identifier of the sender firm or exchange, if applicable.
                      on_behalf_of_comp_id:
                        type: string
                        example: ''
                        description: The identifier of the firm or exchange on behalf of which the order was sent, if applicable.
                      on_behalf_of_sub_id:
                        type: string
                        example: ''
                        description: The sub-identifier of the firm or exchange on behalf of which the order was sent, if applicable.
                  validation_contexts:
                    type: array
                    items:
                      type: object
                    example: []
                  service_name:
                    type: string
                    example: ''
              best_limit:
                type: boolean
                example: false
                description: Indicates if the order should be entered at the best available price on the same side of the market.
              immediately_executable_limit:
                type: boolean
                example: false
                description: Indicates if the order should be executed immediately at the best available price.
              block_trade_indicator:
                type: boolean
                example: false
                description: Indicates if the order is a block trade. (Not applicable on the CLOB, used for informational purposes only.)
              last_trade_id:
                type: string
                example: 1f19d5e1-344b-4aac-b737-a467be69e4fe
                description: The identifier of the last trade that was executed against this order, if applicable.
              trigger_method:
                type: string
                example: CONDITION_TRIGGER_METHOD_UNDEFINED
                description: "The trigger method for the order, used with stop and stop-limit orders to indicate the price that will trigger the order to become active. \n\n- `CONDITION_TRIGGER_METHOD_UNDEFINED`: The default trigger method if not specified. The exchange will use its default trigger method for stop orders, which is typically the last traded price but may vary by exchange.\n- `CONDITION_TRIGGER_METHOD_LAST_PRICE`: The stop order will be triggered based on the last traded price of the symbol.\n- `CONDITION_TRIGGER_METHOD_SETTLEMENT_PRICE`: The stop order will be triggered based on the settlement price of the symbol, which is typically calculated at the end of the trading day."
                enum:
                - CONDITION_TRIGGER_METHOD_UNDEFINED
                - CONDITION_TRIGGER_METHOD_LAST_PRICE
                - CONDITION_TRIGGER_METHOD_SETTLEMENT_PRICE
              price_to_quantity_filled:
                type: object
                additionalProperties:
                  type: string
                example: {}
              commission_notional_total_collected:
                type: string
                example: '10'
                description: The total notional amount of commission collected for the order across all executions.
              self_match_prevention_instruction:
                type: string
                enum:
                - SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
                - SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR
                - SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING
                - SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH
                example: SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED
                description: "The self-match prevention instruction\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_UNDEFINED`: \nAn unset value for the self match prevention instruction uses the default behavior of the exchange, which is to reject the incoming order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REJECT_AGGRESSOR`: \nReject the incoming aggressor order and allow resting orders to remain on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_CANCEL_RESTING`: \nCancel any resting orders on the book that would self match and allow the aggressor to insert on the book.\n\n- `SELF_MATCH_PREVENTION_INSTRUCTION_REMOVE_BOTH`: \nCancel any resting orders on the book that would self match and reject the aggressor insertion on the book."
              order_capacity:
                type: string
                example: ORDER_CAPACITY_INDIVIDUAL
                description: 'The order capacity for the order, which indicates the capacity in which the participant is acting when placing the order. This may be used by the exchange for regulatory reporting purposes.


                  - `ORDER_CAPACITY_UNDEFINED`: An unset value for order capacity uses the default behavior of the exchange, which is typically to treat the order as if it were entered in an individual capacity.

                  - `ORDER_CAPACITY_AGENCY`: The participant is acting in an agency capacity, meaning they are placing the order on behalf of another party.

                  - `ORDER_CAPACITY_PRINCIPAL`: The participant is acting in a principal capacity, meaning they are placing the order for their own account and risk.

                  - `ORDER_CAPACITY_PROPRIETARY`: The participant is acting in a proprietary capacity, meaning they are placing the order for their own account but not for their own risk (e.g., a market maker).

                  - `ORDER_CAPACITY_INDIVIDUAL`: The participant is acting in an individual capacity, meaning they are placing the order for their own account and risk.

                  - `ORDER_CAPACITY_RISKLESS_PRINCIPAL`: The participant is acting in a riskless principal capacity, meaning they are placing the order on behalf of another party but will not assume any market risk (e.g., they will hedge out the position immediately).

                  - `ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER`: The participant is acting as an agent for another member of the exchange.'
                enum:
                - ORDER_CAPACITY_UNDEFINED
                - ORDER_CAPACITY_AGENCY
                - ORDER_CAPACITY_PRINCIPAL
                - ORDER_CAPACITY_PROPRIETARY
                - ORDER_CAPACITY_INDIVIDUAL
                - ORDER_CAPACITY_RISKLESS_PRINCIPAL
                - ORDER_CAPACITY_AGENT_FOR_OTHER_MEMBER
              ignore_price_validity_checks:
                type: boolean
                example: false
                description: 'Indicates if the order should bypass price validity checks and be accepted even if the price is outside of the normal price bands or limits set by the exchange.

                  This may be used in conjunction with order `type` as `ORDER_TYPE_MARKET_TO_LIMIT` and the `side` as `SIDE_SELL` to bypass the exchange minimum order placement values to liquidate customer positions.'
              transaction_booked_time:
                type: string
                format: date-time
                nullable: true
              last_transact_time:
                type: string
                format: date-time
                example: '2025-09-11T18:07:22.155905574Z'
              price_scale:
                type: string
                example: '100'
                description: "The scale factor for the price of the order. To convert the `price` to its actual value, multiply it by this scale factor;\n\n -  2300 ETH `price` will be entered as `2300.00 * price_scale = 230000`\n -  65000.10 BTC order `price` will be entered as `65000.10 * price_scale = 6500010`."
              fractional_quantity_scale:
                type: string
                example: '100000000'
                description: "The scale factor for the quantity of the `order_qty` field on order placement. To convert the `order_qty` to its actual value, multiply it by this scale factor;\n\n -  0.5 BTC `order_qty` will be entered as `0.5 * fractional_quantity_scale = 50000000`\n -  0.1 ETH `order_qty` will be entered as `0.1 * fractional_quantity_scale = 10000000`."
              maker_commissions_basis_points:
                type: string
                example: '0'
                description: The commission rate in basis points that was/will be applied to the order if it provides liquidity (i.e., is a maker order) upon matching.
              manual_order_indicator:
                type: string
                example: MANUAL_ORDER_INDICATOR_MANUAL
                enum:
                - MANUAL_ORDER_INDICATOR_MANUAL
                - MANUAL_ORDER_INDICATOR_AUTOMATED
                - MANUAL_ORDER_INDICATOR_UNDEFINED
    PostCLOBResponseEntity:
      type: object
      properties:
        participant_code:
          type: string
          description: The code of the participant that owns the account.
          example: ABCDEF
        account_group:
          type: string
          description: Account group associated with the account. This is the platform (`account_group`) that owns the account on behalf of the participant.
          example: PLT001
        account_label:
          type: string
          description: The platform-dictated account label for the account.
          example: general
        prefunded:
          type: boolean
          description: Indicates whether the participant has prefunded their account or not.
          example: true
        account_tier:
          type: string
          enum:
          - lite
          - pro
          - bronze
          - silver
          - gold
          description: The commission tier associated with the account, defined by the platform.
          example: bronze
        customer_account_urn:
          type: string
          description: URN of the associated customer account, when the CLOB account is linked to a customer account. Empty string when there is no linked customer account.
          example: ''
    CLOBAccountEntity:
      type: object
      title: CLOB Account Entity
      description: Entity schema for CLOB accounts.
      properties:
        participant_code:
          type: string
          description: The code of the participant that owns the account.
          example: ABCDEF
        account_group:
          type: string
          description: Account group associated with the account. This is the platform (`account_group`) that owns the account on behalf of the participant.
          example: PLT001
        account_label:
          type: string
          description: The platform-dictated account label for the account.
          example: general
        prefunded:
          type: boolean
          description: Indicates whether the participant has prefunded their account or not.
          example: true
        account_tier:
          type: string
          enum:
          - lite
          - pro
          - bronze
          - silver
          - gold
          description: The commission tier associated with the account, defined by the platform.
          example: bronze
        customer_account_urn:
          type: string
          description: URN of the associated customer account, when the CLOB account is linked to a customer account. Empty string when there is no linked customer account.
          example: ''
    PostGetAccountBalanceResponse:
      type: object
      properties:
        balance:
          type: string
          example: '547280.56'
          description: Current account balance
        capital_requirement:
          type: string
          example: '0'
          description: Capital requirement for the account
        excess_capital:
          type: string
          example: '547280.56'
          description: Excess capital available in the account
        buying_power:
          type: string
          example: '547280.56'
          description: Buying power available in the account
        securities:
          type: object
          additionalProperties:
            type: object
            properties:
              availableValue:
                type: string
                example: '1200.00'
              balance:
                type: string
                example: '1000.00'
              haircut:
                type: string
                example: '0.20'
              marketValue:
                type: string
                example: '1500.00'
              notionalValue:
                type: string
                example: '1400.00'
          example: {}
        total_security_notional_value:
          type: string
          example: '0'
        total_security_available_value:
          type: string
          example: '0'
        open_orders:
          type: string
          example: '0'
        alternate_capital_requirement_currency:
          type: string
          example: ''
        alternate_capital_requirement:
          type: string
          example: ''
        unsettled_funds:
          type: string
          example: '0'
        margin_requirement:
          type: string
          example: '0'
        update_time:
          type: string
          format: date-time
          example: '2024-04-19T22:48:56.383Z'
          description: The time at which the balance was last updated
    PatchPrefundedAccountBody:
      oneOf:
      - title: Update Account - Participant Code
        description: Request body for updating an account on the zerohash CLOB to a new commission tier. This request body format is used when the account to update can be identified by the participant code alone, without the need for a custom account label.
        type: object
        additionalProperties: false
        required:
        - account_label
        - prefunded
        properties:
          account_label:
            type: string
            description: The `account_label` associated with the account to update. If no `account_label` was provided at account creation, the default `account_label` is `general`.
            minLength: 4
            maxLength: 80
            example: general
            required: true
          prefunded:
            type: boolean
            description: Indicates whether the participant has prefunded their account or not.
            example: true
          account_tier:
            type: string
            description: The commission tier associated with the participant's account, each commission tier is defined by the platform and can be configured upon request to the zerohash team.
            example: silver
            enum:
            - bronze
            - silver
            - gold
          participant_code:
            type: string
            description: The code of the participant that owns the account. Used when custom account_label has not been provided on account creation.
            example: CUST01
            minLength: 6
            maxLength: 6
            required: true
      - title: Update Account - Custom `account_label`
        description: Request body for updating an account on the zerohash CLOB to a new commission tier. This request body format is used when the account to update can be identified by a custom account label.
        type: object
        additionalProperties: false
        required:
        - account_label
        - prefunded
        properties:
          account_label:
            type: string
            description: The `account_label` associated with the account to update. This is required when updating an account with a custom label.
            minLength: 4
            maxLength: 80
            example: custom_account_label
            required: true
          prefunded:
            type: boolean
            description: Indicates whether the participant has prefunded their account or not.
            example: true
          account_tier:
            type: string
            description: The commission tier associated with the participant's account, each commission tier is defined by the platform and can be configured upon request to the zerohash team.
            example: silver
            enum:
            - bronze
            - silver
            - gold
          participant_code:
            type: string
            description: The code of the participant that owns the account.
            example: CUST01
            minLength: 6
            maxLength: 6
            required: false
    PostListInstrumentsRequest:
      type: object
      properties:
        page_size:
          type: integer
          example: 10
          description: The number of items to return per page
        page_token:
          type: string
          example: page-token
          description: The token for the next page of results
        product_id:
          type: string
          example: product-id
          description: The ID of the product to retrieve
        symbols:
          type: array
          description: The array of symbols to subscribe to for market data
          items:
            type: string
            example: BTC/USD
    PostListInstrumentsResponse:
      type: object
      properties:
        instruments:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                example: BTC/USD
                description: The trading pair symbol
              tick_size:
                type: number
                example: 0.01
                description: The tick size for the trading pair
              base_currency:
                type: string
                example: USD
                description: The base currency for the trading pair
              multiplier:
                type: number
                example: 1
                description: The multiplier for the trading pair
              minimum_trade_qty:
                type: string
                example: '1'
                description: The minimum trade quantity for the trading pair
              start_date:
                type: object
                properties:
                  year:
                    type: integer
                    example: 1970
                  month:
                    type: integer
                    example: 1
                  day:
                    type: integer
                    example: 1
              expiration_date:
                type: number
                example: null
                description: The expiration date of the instrument.
              termination_date:
                type: number
                example: null
                description: The termination date of the instrument.
              trading_schedule:
                type: array
                items: {}
                example: []
                description: The trading schedule for the instrument.
              description:
                type: string
                example: Bitcoin USD Spot
                description: A description of the instrument.
              clearing_house:
                type: string
                example: firms/Zero-Hash-LLC
                description: The clearing house for the instrument.
              minimum_unaffiliated_firms:
                type: string
                example: '0'
                description: The minimum number of unaffiliated firms for the instrument.
              forex_attributes:
                type: object
                properties:
                  base_currency:
                    type: string
                    example: BTC
                    description: The base currency for the trading pair
                  quote_currency:
                    type: string
                    example: USD
                    description: The quote currency for the trading pair
              non_tradable:
                type: boolean
                example: false
                description: Indicates if the instrument is non-tradable.
              product_id:
                type: string
                example: BTC
                description: The product ID for the instrument.
              price_limit:
                type: object
                properties:
                  low:
                    type: string
                    example: '0'
                    description: low price limit for the instrument
                  high:
                    type: string
                    example: '0'
                    description: high price limit for the instrument
                  low_set:
                    type: boolean
                    example: false
                    description: Indicates if the low price limit is set
                  high_set:
                    type: boolean
                    example: false
                    description: Indicates if the high price limit is set
                  relative_low:
                    type: string
                    example: '0.6'
                    description: relative low price limit for the instrument. The value is a percentage represented as a decimal (e.g. -0.1 for a 10% decrease) and is applied to the reference price to calculate if the entered order is outside of the price protection bands. The reference price is determined by the exchange and may be based on the settlement price during the given trading session, which is set daily at 14:00 EST.
                  relative_high:
                    type: string
                    example: '0.6'
                    description: relative high price limit for the instrument. The value is a percentage represented as a decimal (e.g. 0.1 for a 10% increase) and is applied to the reference price to calculate if the entered order is outside of the price protection bands. The reference price is determined by the exchange and may be based on the settlement price during the given trading session, which is set daily at 14:00 EST.
                  relative_low_set:
                    type: boolean
[...]
