openapi: 3.2.0
info:
  title: zerohash Entity Participants API
  description: '

    ### Authentication


    zerohash Uses HMAC SHA-256 verification to ensure the authenticity of API requests, follow instructions by link [https://docs.zerohash.com/reference/api-authentication](https://docs.zerohash.com/reference/api-authentication)


    <a href="/zh-swagger.json">Download zerohash OpenAPI Schema as JSON</a>

    '
  version: 1.7.0
servers:
- url: https://api.cert.zerohash.com
  description: Certification API server
security:
- apiKey: []
  apiPassphrase: []
tags:
- name: Entity Participants
  description: Create and Manage Entity Participants
paths:
  /participants/entity/new:
    post:
      tags:
      - Entity Participants
      summary: Create entity customer
      description: Submits an entity customer to be affiliated with your platform. Your platform will need to be configured properly before you can use this endpoint.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: Entity customer profile including business information, registration details, and beneficial owners
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEntityBody'
            examples:
              corporation:
                summary: Corporation
                description: Corporation entity (includes C-Corporation and S-Corporation classifications).
                value:
                  platform_code: PLAT01
                  entity_name: Acme Holdings
                  legal_name: Acme Holdings Inc.
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: corporation
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
              llc:
                summary: LLC
                description: Limited Liability Company (includes C/S/Partnership tax classifications).
                value:
                  platform_code: PLAT01
                  entity_name: Acme Ventures
                  legal_name: Acme Ventures LLC
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: llc
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
              partnership:
                summary: Partnership
                description: Partnership entity.
                value:
                  platform_code: PLAT01
                  entity_name: Acme Partners
                  legal_name: Acme Partners LP
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: partnership
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
              sole_proprietorship:
                summary: Sole Proprietorship
                description: Sole proprietorship entity.
                value:
                  platform_code: PLAT01
                  entity_name: Jon's Consulting
                  legal_name: Jonathan Doe
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: sole_proprietorship
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
                  dba_name: Jon's Consulting
              non_profit:
                summary: Non-Profit
                description: Non-profit / not-for-profit entity.
                value:
                  platform_code: PLAT01
                  entity_name: Acme Foundation
                  legal_name: Acme Foundation
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: non_profit
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
              trust_estate:
                summary: Trust / Estate
                description: Trust or estate entity.
                value:
                  platform_code: PLAT01
                  entity_name: Acme Family Trust
                  legal_name: Acme Family Trust
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: trust_estate
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
              other:
                summary: Other
                description: Any other supported entity type. Use `other_entity_type` to describe the entity.
                value:
                  platform_code: PLAT01
                  entity_name: Acme Cooperative
                  legal_name: Acme Cooperative
                  contact_number: '15557778888'
                  website: acme.com
                  date_established: '2015-04-12'
                  entity_type: other
                  address_one: 123 Main St.
                  address_two: Suite 1000
                  city: Chicago
                  postal_code: '60601'
                  jurisdiction_code: US-IL
                  tax_id: 12-3456789
                  id_issuing_authority: US
                  risk_rating: low
                  sanction_screening: pass
                  sanction_screening_timestamp: 1603378501286
                  signed_timestamp: 1603378501286
                  submitter_email: submitter@example.com
                  submitter_first_name: Jon
                  submitter_last_name: Doe
                  submitter_title: Director
                  control_persons:
                  - name: John Smith
                    email: john.smith@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1985-09-02'
                    phone_number: '15557778888'
                    citizenship_code: US
                  beneficial_owners:
                  - name: Jane Doe
                    email: jane.doe@example.com
                    address_one: 123 Main St.
                    city: Chicago
                    postal_code: '60601'
                    jurisdiction_code: US-IL
                    date_of_birth: '1980-01-15'
                    phone_number: '15557778899'
                    citizenship_code: US
                  other_entity_type: Cooperative
      responses:
        '201':
          description: Successfully created entity participant. Returns the created resource with generated IDs and timestamps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEntityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/entity/{participant_code}:
    patch:
      tags:
      - Entity Participants
      summary: Update entity customer
      description: Updates an entity customer affiliated with your platform. Your platform will need to be configured properly before you can use this endpoint.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      requestBody:
        description: Updated entity customer fields (all fields optional, only send fields to update)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEntityBody'
      responses:
        '200':
          description: Successfully updated entity participant. Returns the updated resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchEntityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/entity/{participant_code}/users/{user_code}:
    patch:
      tags:
      - Entity Participants
      summary: Update entity user
      description: 'Update one or more fields of an existing Entity user (Control Person, Beneficial Owner, or Board Member). This is a partial update endpoint - only the fields provided in the request body will be updated.


        **Important notes:**


        **Platform configuration:**

        - Your platform must be properly configured before using this endpoint.


        **PII changes and document requirements:**

        - When users are updated with new identifying information (such as `first_name`, `last_name`, `date_of_birth`, or `citizenship_code`), these changes must be accompanied by supporting documentation.

        - Use the Submit Documents endpoint with the appropriate document type to provide supporting documents.


        **Compliance field updates:**

        - Updating KYC-related fields (`sanction_screening`, `kyc`, `id_number_type`, etc.) may require re-verification depending on your platform configuration.

        - Changes to identity documents or verification status may trigger additional compliance checks.


        **Vendor reliance track:**

        - For platforms using vendor reliance track, `sanction_screening` and `kyc` fields must be provided with vendor verification results.

        - `sanction_screening_timestamp` and `kyc_timestamp` should be set to the time when the vendor completed the verification (in milliseconds since Unix epoch).


        **Conditional requirements:**

        - If `id_number_type` is `non_us_other`, the `non_us_other_type` field is required to describe the ID type.

        - For non-US citizens or when `tax_id` is an ITIN (begins with 9), `id_number_type` and `id_number` are required.


        **Response:**

        Returns the complete user object with all fields, including unchanged fields and system-generated metadata.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      - name: user_code
        in: path
        description: Unique identifier related to the user
        required: true
        schema:
          type: string
      requestBody:
        description: Updated entity user fields (all fields optional, only send fields to update)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserBody'
      responses:
        '200':
          description: Successfully updated entity user. Returns the updated resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchUserResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/entity/documents:
    post:
      tags:
      - Entity Participants
      summary: Submit entity documents
      description: 'Submits a business document on behalf of an entity, or an identity document on behalf of a control person or a beneficial owner of the entity, if you operate a platform on zerohash.


        **EU NNP onboarding.** For an entity onboarded through an EU-region platform, the required document set is `lei_certificate`, `excerpt_of_the_chamber_of_commerce`, `annual_accounts`, and `power_of_authorization` (a power of attorney or a board resolution authorising the submitter). When the entity was created with `is_complex_structure: true`, a `legal_opinion` document is additionally required before the entity can be approved. Any document without a dedicated type can be uploaded as `supporting_document` with a free-text `document_description`.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: Entity document metadata including participant code, document type, user code (if applicable), and base64-encoded file data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEntityDocumentsBody'
      responses:
        '201':
          description: Successfully created entity document. Returns the created resource with generated IDs and timestamps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEntityDocumentsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participant/{participant_code}/basic_info/cp_bo:
    get:
      tags:
      - Entity Participants
      summary: Get participant user basic info
      description: This endpoint returns Participant User basic info.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      responses:
        '200':
          description: Successfully retrieved participant user (CPBO) basic information. Including name, role, and contact details for controlling persons and beneficial owners.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetParticipantCPBOBasicInfoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participant/{participant_code}/sanction_screening_info/cp_bo:
    get:
      tags:
      - Entity Participants
      summary: Get participant user sanction screening info
      description: This endpoint returns Participant User sanction screening info.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      responses:
        '200':
          description: Successfully retrieved participant user (CPBO) sanction screening information. Including screening status and compliance results for controlling persons and beneficial owners.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetParticipantCPBOSanctionScreeningInfoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participant/{participant_code}/full_info/cp_bo:
    get:
      tags:
      - Entity Participants
      summary: Get participant user full info
      description: This endpoint returns Participant User full info.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      responses:
        '200':
          description: Successfully retrieved participant user (CPBO) full information. Including all profile details, verification status, and compliance data for controlling persons and beneficial owners.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetParticipantCPBOFullInfoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
components:
  schemas:
    AdditionalTaxResidence:
      type: object
      required:
      - tax_id
      - jurisdiction_code
      properties:
        tax_id:
          type: string
          description: Tax identification number for the additional tax residence
        jurisdiction_code:
          type: string
          description: The ISO 3166-2 subdivision code that the participant resides in
          example: US-IL
    Code503:
      type: object
      description: 'A downstream dependency was unavailable, timed out, or returned a retryable error. Safe to retry; the response carries a `zh-allow-retry: true` header.'
      required:
      - error
      properties:
        error:
          type: string
          example: Service Unavailable
    Code404:
      type: object
      description: The requested resource does not exist or is not visible to the caller.
      required:
      - error
      properties:
        error:
          type: string
          example: Not Found
    ControlPersonResponseEntity:
      type: object
      properties:
        user_code:
          type: string
          description: zerohash identifier for the Control Person(s) (One code returned per person)
          example: U-XXXXXX
        name:
          type: string
          description: Full name of the control person
          example: John Smith
        email:
          type: string
          description: Email address of control person
          example: test@example.com
        address_one:
          type: string
          description: 'First line for the control person''s address.


            Notes:

            - The regular maximum length is 80 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: 123 Main St.
        address_two:
          type: string
          description: 'Extra information, like an apartment or suite number.


            Notes:

            - The regular maximum length is 50 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: Suite 1000
        city:
          type: string
          description: City of the control person
          example: Chicago
        postal_code:
          type: string
          description: Postal, or zip code, of the control person, in the format "min 4 characters, no leading or trailing spaces" for non-US postal code or <5digits>-<4digits> for US zip code, e.g. 77777 or 77777-7777
          example: '12345'
        jurisdiction_code:
          type: string
          example: US-IL
          description: The ISO 3166-2 subdivision code that the control person resides in
        date_of_birth:
          type: string
          description: Birth date of the control person
          example: '1985-09-02'
        phone_number:
          type: string
          description: The phone number of the control person
          example: '15557778888'
        citizenship_code:
          type: string
          example: US
          description: The ISO-3166-1 alpha2 citizenship of the control person, e.g. `US`.
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        tax_id:
          type: string
          description: "The national ID of the control person, e.g. a social security number. Required if `citizenship=United States` or `citizenship_code=US`. \nNote: if `citizenship=United States`, and `tax_id` begins with `9`, then `id_number_type` and `id_number` are also required."
          example: 000-00-0000
        id_number_type:
          type: string
          enum:
          - us_drivers_license
          - us_passport
          - us_passport_card
          - us_permanent_resident_card
          - us_border_crossing_card
          - us_alien_card
          - us_id_card
          - non_us_passport
          - non_us_other
          - passport
          - eu_drivers_license
          - national_id
          - legal_entity_identifier
          - chamber_of_commerce_number
          - value_added_tax_number
          description: 'The type of identification number provided.


            **Allowed values:**

            - `us_drivers_license` - US Driver''s License

            - `us_passport` - US Passport

            - `us_passport_card` - US Passport Card

            - `us_permanent_resident_card` - US Permanent Resident Card (Green Card)

            - `us_border_crossing_card` - US Border Crossing Card

            - `us_alien_card` - US Alien Registration Card

            - `us_id_card` - US State-issued ID Card

            - `non_us_passport` - Non-US Passport

            - `non_us_other` - Other Non-US identification (requires `non_us_other_type` field)

            - `passport` - Generic passport

            - `eu_drivers_license` - European Union Driver''s License

            - `national_id` - National identity card

            - `legal_entity_identifier` - Legal Entity Identifier (LEI) for organizations

            - `chamber_of_commerce_number` - Chamber of Commerce registration number

            - `value_added_tax_number` - VAT identification number


            **Conditional requirements:**

            - When `id_number_type` is `non_us_other`, the `non_us_other_type` field is required.

            **Note:** Required when citizenship is not `United States` or `tax_id` is not an SSN.'
          example: us_passport
        id_number:
          type: string
          description: "ID number of the ID document provided. \nRequired when citizenship is not `United States` or `tax_id` is not an SSN\t"
          example: '123456789'
        id_issuing_authority:
          type: string
          description: ISO-3166-1_A2 country code that issued the ID. Required if `id_number` is provided.
          example: null
        sanction_screening:
          type: string
          enum:
          - pass
          - fail
          description: 'Result of the control person''s sanctions screening.


            **Allowed values:**

            - `pass` - Control person passed sanctions screening

            - `fail` - Control person failed sanctions screening'
          example: pass
        sanction_screening_timestamp:
          type: number
          description: UNIX timestamp (in milliseconds) when the sanctions screening was performed on the control person.
          example: 1603378501286
        kyc:
          type: string
          enum:
          - pass
          - fail
          description: 'Whether the control person passed or failed KYC verification by vendor.


            **Allowed values:**

            - `pass` - KYC verification passed

            - `fail` - KYC verification failed'
          example: pass
        kyc_timestamp:
          type: number
          description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
          example: 1603378501286
        control_person:
          type: number
          enum:
          - 0
          - 1
          - 2
          - 3
          description: 'Designation of what percent of the business the control person controls.


            **Allowed values:**

            - `0` - Unknown

            - `1` - Less than 10%

            - `2` - Greater than or equal to 10% but less than 25%

            - `3` - Greater than or equal to 25%'
          example: 1
    GetParticipantCPBOFullInfoResponse:
      type: object
      properties:
        users:
          type: object
          description: Full info of the Control Persons and Beneficial Owners, keyed by user_code
          additionalProperties:
            type: object
            properties:
              user_code:
                type: string
                description: The user code of the Control Person or Beneficial Owner
              name:
                type: string
                description: Full name of the participant
              is_beneficial_owner:
                type: boolean
                description: Indicates if the user is a beneficial owner
              email:
                type: string
                description: Email of the participant
                example: mail@mail.com
              address_one:
                type: string
                description: 'First line for the customer''s address.


                  Notes:

                  - The regular maximum length is 80 characters.

                  - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

                  - PO Box addresses are not accepted.'
                example: 123 Main St.
              address_two:
                type: string
                description: 'Extra information, like an apartment or suite number.


                  Notes:

                  - The regular maximum length is 50 characters.

                  - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

                  - PO Box addresses are not accepted.'
                example: Suite 1000
              city:
                type: string
                description: The city minor resides in
                example: Chicago
              postal_code:
                type: string
                description: Postal, or zip code, of the business, in the format "min 4 characters, no leading or trailing spaces" for non-US postal code or <5digits>-<4digits> for US zip code, e.g. 77777 or 77777-7777
                example: '12345'
              jurisdiction_code:
                type: string
                example: US-IL
                description: The ISO 3166-2 subdivision code that the customer resides in
              date_of_birth:
                type: string
                description: Date of birth of the participant user
                example: '1985-09-02'
              citizenship_code:
                type: string
                example: US
                description: The ISO-3166-1 alpha2 citizenship of the participant, e.g. `US`.
                enum:
                - AD
                - AE
                - AF
                - AG
                - AI
                - AL
                - AM
                - AO
                - AQ
                - AR
                - AS
                - AT
                - AU
                - AW
                - AX
                - AZ
                - BA
                - BB
                - BD
                - BE
                - BF
                - BG
                - BH
                - BI
                - BJ
                - BL
                - BM
                - BN
                - BO
                - BQ
                - BR
                - BS
                - BT
                - BV
                - BW
                - BY
                - BZ
                - CA
                - CC
                - CD
                - CF
                - CG
                - CH
                - CI
                - CK
                - CL
                - CM
                - CN
                - CO
                - CR
                - CU
                - CV
                - CW
                - CX
                - CY
                - CZ
                - DE
                - DJ
                - DK
                - DM
                - DO
                - DZ
                - EC
                - EE
                - EG
                - EH
                - ER
                - ES
                - ET
                - FI
                - FJ
                - FK
                - FM
                - FO
                - FR
                - GA
                - GB
                - GD
                - GE
                - GF
                - GG
                - GH
                - GI
                - GL
                - GM
                - GN
                - GP
                - GQ
                - GR
                - GS
                - GT
                - GU
                - GW
                - GY
                - HK
                - HM
                - HN
                - HR
                - HT
                - HU
                - ID
                - IE
                - IL
                - IM
                - IN
                - IO
                - IQ
                - IR
                - IS
                - IT
                - JE
                - JM
                - JO
                - JP
                - KE
                - KG
                - KH
                - KI
                - KM
                - KN
                - KP
                - KR
                - KW
                - KY
                - KZ
                - LA
                - LB
                - LC
                - LI
                - LK
                - LR
                - LS
                - LT
                - LU
                - LV
                - LY
                - MA
                - MC
                - MD
                - ME
                - MF
                - MG
                - MH
                - MK
                - ML
                - MM
                - MN
                - MO
                - MP
                - MQ
                - MR
                - MS
                - MT
                - MU
                - MV
                - MW
                - MX
                - MY
                - MZ
                - NA
                - NC
                - NE
                - NF
                - NG
                - NI
                - NL
                - 'NO'
                - NP
                - NR
                - NU
                - NZ
                - OM
                - PA
                - PE
                - PF
                - PG
                - PH
                - PK
                - PL
                - PM
                - PN
                - PR
                - PS
                - PT
                - PW
                - PY
                - QA
                - RE
                - RO
                - RS
                - RW
                - SA
                - SB
                - SC
                - SD
                - SE
                - SG
                - SH
                - SI
                - SJ
                - SK
                - SL
                - SM
                - SN
                - SO
                - SR
                - SS
                - ST
                - SV
                - SX
                - SY
                - SZ
                - TC
                - TD
                - TF
                - TG
                - TH
                - TJ
                - TK
                - TL
                - TM
                - TN
                - TO
                - TR
                - TT
                - TV
                - TW
                - TZ
                - UA
                - UG
                - UM
                - US
                - UY
                - UZ
                - VA
                - VC
                - VE
                - VG
                - VI
                - VN
                - VU
                - WF
                - WS
                - YE
                - YT
                - ZA
                - ZM
                - ZW
              tax_id:
                type: string
                description: The national ID of the participant, e.g. a social security number.
                example: 000-00-0000
              id_number_type:
                type: string
                enum:
                - ssn
                - ein
                - us_drivers_license
                - us_passport
                - us_passport_card
                - us_permanent_resident_card
                - us_border_crossing_card
                - us_alien_card
                - us_id_card
                - non_us_passport
                - non_us_other
                - passport
                - eu_drivers_license
                - legal_entity_identifier
                - chamber_of_commerce_number
                - value_added_tax_number
                - national_id
                description: The type of ID number
                example: us_border_crossing_card
              id_number:
                type: string
                description: The ID number for the customer
                example: '123456789'
              kyc:
                type: string
                enum:
                - pass
                - fail
                description: Whether the participant passed or failed KYC by vendor
                example: pass
              kyc_timestamp:
                type: number
                description: The UNIX timestamp (in milliseconds) when KYC was performed on the participant. This timestamp must be no greater than one (1) year in the past and one (1) day in the future
                example: 1603378501286
              sanction_screening:
                type: string
                enum:
                - pass
                - fail
                description: Whether the participant passed sanctions checks
                example: pass
              sanction_screening_timestamp:
                type: number
                description: The UNIX timestamp (in milliseconds) when sanctions screening was performed on the participant. This timestamp must be no greater than one (1) year in the past and one (1) day in the future
                example: 1603378501286
              place_of_birth_country_code:
                type: string
                description: The ISO 3166-1 alpha-2 country code of the person's place of birth. Present only for EU NNP persons.
                example: DE
              first_name:
                type: string
                description: The person's given name.
                example: Jane
              middle_name:
                type: string
                description: The person's middle name.
                example: Q
              last_name:
                type: string
                description: The person's family name.
                example: Doe
              is_control_person:
                type: boolean
                description: Indicates if the user is a control person of the entity.
              is_board_member:
                type: boolean
                description: Indicates if the user is a board member of the entity.
    PatchEntityBody:
      type: object
      properties:
        entity_name:
          type: string
          description: Name of the business
          example: Entity Name
        legal_name:
          type: string
          description: Registered legal name of the entity. This should not be a DBA or DBA equivalent
          example: Legal Name
        contact_number:
          type: string
          description: Phone number of the business
          example: '15557778888'
        website:
          type: string
          description: Business website
          example: company.com
        date_established:
          type: string
          description: Date the business was established. This should reflect government registration for the entity in the format `YYYY-MM-DD`
          example: '1985-09-02'
        entity_type:
          type: string
          enum:
          - corporation
          - llc
          - partnership
          - sole_proprietorship
          - other
          - non_profit
          - llc_c
          - llc_s
          - llc_p
          - s_corporation
          - c_corporation
          - trust_estate
          - trust
          description: The type of business that is onboarding, must be one of the supported
          example: llc
        address_one:
          type: string
          description: 'First line for the business''s address.


            Notes:

            - The regular maximum length is 80 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: 123 Main St.
        address_two:
          type: string
          description: 'Extra information, like an apartment or suite number.


            Notes:

            - The regular maximum length is 50 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: Suite 1000
        city:
          type: string
          description: The city customer resides in
          example: Chicago
        postal_code:
          type: string
          description: Postal, or zip code, of the business, in the format "min 4 characters, no leading or trailing spaces" for non-US postal code or <5digits>-<4digits> for US zip code, e.g. 77777 or 77777-7777
          example: '12345'
        tax_id:
          type: string
          description: Tax identifier of the business (e.g. EIN in United States)
          example: 000-00-0000
        id_issuing_authority:
          type: string
          description: ISO-3166-1_A2 country code that issued the tax identifier (e.g. “US”)
          example: null
        risk_rating:
          type: string
          enum:
          - low
          - medium
          - high
          description: Risk assessed by the platform's vendor
          example: null
        onboarding_profile:
          type: string
          enum:
          - kyc_track
          - shopper
          - originator_entity
          - payouts_payor_ultimate
          - payouts_beneficiary
          description: Onboarding profile used to determine the entity's KYC track. Optional. Defaults to 'kyc_track' when omitted.
          example: kyc_track
        sanction_screening:
          type: string
          enum:
          - pass
          - fail
          description: "Result of the business sanctions screen\t"
          example: pass
        sanction_screening_timestamp:
          type: number
          description: "The time the sanctions screen was done\t"
          example: 1603378501286
        self_certification_timestamp:
          type: number
          description: The UNIX timestamp (in milliseconds) when the participant completed self-certification for DAC8 compliance. Mandatory for participants that are based in Europe.
          example: 1667504636159
        signed_timestamp:
          type: number
          description: The time at which the business accepted zerohash services agreements
          example: 1603378501286
        signed_agreements:
          type: array
          description: The agreements signed by the entity. An array of agreement objects with region, type, and timestamp.
          items:
            type: object
            required:
            - region
            - signed_timestamp
            properties:
              type:
                type: string
                enum:
                - fund_auto_convert
                - payment_services_terms
                - account_link
                - account_funding_payouts
                - account_funding_general
                - account_funding_pay
                - crypto_payouts_service_terms
                - staking
                - trust_agreement
                - zhllc_user_agreement_v1
                - zhllc_privacy_policy_v1
                - zhllc_regulatory_disclosures_v1
                - auth_user_services_agreement_v1
                - zhllc_payment_sender_terms_v1
                - zhllc_third_party_disclosures_v1
                - connect_privacy_policy_v1
                description: The type of the agreement signed
                example: user_agreement
              region:
                type: string
                enum:
                - worldwide
                - us
                - brazil
                - uk
                - eu
                description: The region for the signed agreement
                example: us
              signed_timestamp:
                type: number
                description: The UNIX timestamp (in milliseconds) when the Agreement was accepted by the entity. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
                example: 1603378501286
        expected_annual_volume:
          type: string
          enum:
          - unknown
          - under_100k
          - between_100k_and_250k
          - between_250k_and_500k
          - over_500k
          description: Expected annual transaction volume for the entity. Required for EU entities.
          example: over_500k
        submitter_email:
          type: string
          description: Email of the person who completed the KYC application and agreed to terms
          example: test@example.com
        submitter_first_name:
          type: string
          description: Submitter first name
          example: Jon
        submitter_last_name:
          type: string
          description: Submitter last name
          example: Doe
        submitter_title:
          type: string
          description: The title or honorific of the individual submitting the form (e.g., Mr., Ms., Dr.).
          example: Mr.
        incorporation_address:
          type: object
          description: Full address where the entity is incorporated
          required:
          - jurisdiction_code
          properties:
            address_one:
              type: string
              description: First line of incorporation address
            address_two:
              type: string
              description: Second line of incorporation address (optional)
            city:
              type: string
              description: City of incorporation
            jurisdiction_code:
              type: string
              description: Jurisdiction code in ISO-3166-2 format
              example: IT-25
            postal_code:
              type: string
              description: Postal code of incorporation address
        tax_residence:
          type: object
          description: Tax residence address for the entity
          required:
          - jurisdiction_code
          properties:
            address_one:
              type: string
              description: First line of tax residence address
            address_two:
              type: string
              description: Second line of tax residence address (optional)
            city:
              type: string
              description: City of tax residence
            jurisdiction_code:
              type: string
              description: Jurisdiction code in ISO-3166-2 format
              example: PT-11
            postal_code:
              type: string
              description: Postal code of tax residence
        tin_jurisdiction_reason:
          type: string
          enum:
          - working_abroad
          - studying_abroad
          - dual_residency
          - business_abroad
          - real_estate_abroad
          - other
          description: Optional. Reason for the tax residence jurisdiction differing from the legal jurisdiction. Defaults to "unknown" if not provided.
          example: working_abroad
        additional_tax_residences:
          type: array
          maxItems: 25
          items:
            $ref: '#/components/schemas/AdditionalTaxResidence'
          description: Optional. Additional tax residences when the entity has tax obligations in multiple jurisdictions. Maximum 25 items.
        tin_jurisdiction_other:
          type: string
          description: Optional. Free text explanation when `tin_jurisdiction_reason` is `other`
        control_persons:
          type: array
          items:
            $ref: '#/components/schemas/ControlPersonEntity'
        beneficial_owners:
          type: array
          items:
            $ref: '#/components/schemas/BeneficialOwnerEntity'
        b_notice_receipt:
          type: boolean
          description: Boolean flag indicating notice receipt status
          example: true
        is_w_form_certified:
          type: boolean
          description: W9 form certification flag
          example: true
        w_form_certification:
          type: number
          description: W form certification unix timestamp
          example: 1667504636159
        physical_delivery:
          type: boolean
          description: Physical delivery flag
          example: false
        signature:
          type: string
          description: This field is used to capture the customer Entity `entity_name` as used on the W-form.
          example: signature_data
        signature_timestamp:
          type: number
          description: This field captures the timestamp at which the user signed their W-form, used in conjunction with the `signature` field.
          example: 1667504636159
        payee_exemption:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - NONE
          description: Payee exemption code (1-13 or NONE)
          example: NONE
        fatca_reporting_exemption:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
          - NONE
          description: FATCA reporting exemption code (1-13 or NONE)
          example: NONE
        is_not_subject_backup_withholding:
          type: boolean
          description: "Backup withholding attestation flag. Required for customers onboarded to a US platform.\n - If the participant confirms they are **not** subject to backup withholding, this field should be set to `true`.\n - If the participant **is** subject to backup withholding, this field should be set to `false`.\nThis acts as a positive attestation that the participant confirms they are not subject to backup withholding."
          example: false
        dba_name:
          type: string
          description: Doing Business As (DBA) name of the entity
          example: ABC Trading Co
        other_entity_type:
          type: string
          description: Other entity type description when entity_type is "other"
          example: Trust
        w8_ben_e:
          type: object
          description: Wrapper sub-object holding W-8BEN-E tax certification data for a foreign (non-US) entity customer. Inherits all shared W-8 fields plus the entity-only fields below. Optional at the wrapper level.
          properties:
            tax_classification:
              type: string
              enum:
              - individual
              - corporation
              - partnership
              - simple_trust
              - complex_trust
              - grantor_trust
              - estate
              - central_bank_of_issue
              - foreign_government_controlled_entity
              - foreign_government_integral_part
              - tax_exempt_organization
              - private_foundation
              - international_organization
              description: Entity's IRS tax classification (e.g. corporation, partnership, trust variants, estate, tax-exempt organization). Required for W-8 form generation when `w8_ben_e` is present. Accepted string tokens listed in enum; legacy numeric values still accepted for backward compatibility.
              example: corporation
            ftin:
              type: string
              description: Foreign tax identification number issued by the entity's country of tax residence. Required unless `ftin_required = false`.
              example: DE123456789
            ftin_required:
              type: boolean
              description: Whether the entity's country legally issues an FTIN. Required whenever the sub-object is present.
              example: true
            reference_numbers:
              type: string
              description: Optional free-text reference numbers for the platform to connect the tax form to a specific account or financial record.
              example: REF-002
            treaty_claim:
              type: object
              description: Treaty benefits claim block. Optional.
              properties:
                is_eligible:
                  type: boolean
                  description: Whether the entity is claiming reduced US withholding under a tax treaty. If `false` or omitted, the rest of the treaty block is ignored and no W-8 form is generated.
                  example: true
                country:
                  type: string
                  description: Entity's country of tax residence whose treaty with the US is being invoked (ISO 3166-1 alpha-2). Required when `is_eligible = true`.
                  example: DE
                  enum:
                  - AD
                  - AE
                  - AF
                  - AG
                  - AI
                  - AL
                  - AM
                  - AO
                  - AQ
                  - AR
                  - AS
                  - AT
                  - AU
                  - AW
                  - AX
                  - AZ
                  - BA
                  - BB
                  - BD
                  - BE
                  - BF
                  - BG
                  - BH
                  - BI
                  - BJ
                  - BL
                  - BM
                  - BN
                  - BO
                  - BQ
                  - BR
                  - BS
                  - BT
                  - BV
                  - BW
                  - BY
                  - BZ
                  - CA
                  - CC
                  - CD
                  - CF
                  - CG
                  - CH
                  - CI
                  - CK
                  - CL
                  - CM
                  - CN
                  - CO
                  - CR
                  - CU
                  - CV
                  - CW
                  - CX
                  - CY
                  - CZ
                  - DE
                  - DJ
                  - DK
                  - DM
                  - DO
                  - DZ
                  - EC
                  - EE
                  - EG
                  - EH
                  - ER
                  - ES
                  - ET
                  - FI
                  - FJ
                  - FK
                  - FM
                  - FO
                  - FR
                  - GA
                  - GB
                  - GD
                  - GE
                  - GF
                  - GG
                  - GH
                  - GI
                  - GL
                  - GM
                  - GN
                  - GP
                  - GQ
                  - GR
                  - GS
                  - GT
                  - GU
                  - GW
                  - GY
                  - HK
                  - HM
                  - HN
                  - HR
                  - HT
                  - HU
                  - ID
                  - IE
                  - IL
                  - IM
                  - IN
                  - IO
                  - IQ
                  - IR
                  - IS
                  - IT
                  - JE
                  - JM
                  - JO
                  - JP
                  - KE
                  - KG
                  - KH
                  - KI
                  - KM
                  - KN
                  - KP
                  - KR
                  - KW
                  - KY
                  - KZ
                  - LA
                  - LB
                  - LC
                  - LI
                  - LK
                  - LR
                  - LS
                  - LT
                  - LU
                  - LV
                  - LY
                  - MA
                  - MC
                  - MD
                  - ME
                  - MF
                  - MG
                  - MH
                  - MK
                  - ML
                  - MM
                  - MN
                  - MO
                  - MP
                  - MQ
                  - MR
                  - MS
                  - MT
                  - MU
                  - MV
                  - MW
                  - MX
                  - MY
                  - MZ
                  - NA
                  - NC
                  - NE
                  - NF
                  - NG
                  - NI
                  - NL
                  - 'NO'
                  - NP
                  - NR
                  - NU
                  - NZ
                  - OM
                  - PA
                  - PE
                  - PF
                  - PG
                  - PH
                  - PK
                  - PL
                  - PM
                  - PN
                  - PR
                  - PS
                  - PT
                  - PW
                  - PY
                  - QA
                  - RE
                  - RO
                  - RS
                  - RU
                  - RW
                  - SA
                  - SB
                  - SC
                  - SD
                  - SE
                  - SG
                  - SH
                  - SI
                  - SJ
                  - SK
                  - SL
                  - SM
                  - SN
                  - SO
                  - SR
                  - SS
                  - ST
                  - SV
                  - SX
                  - SY
                  - SZ
                  - TC
                  - TD
                  - TF
                  - TG
                  - TH
                  - TJ
                  - TK
                  - TL
                  - TM
                  - TN
                  - TO
                  - TR
                  - TT
                  - TV
                  - TW
                  - TZ
                  - UA
                  - UG
                  - UM
                  - US
                  - UY
                  - UZ
                  - VA
                  - VC
                  - VE
                  - VG
                  - VI
                  - VN
                  - VU
                  - WF
                  - WS
                  - YE
                  - YT
                  - ZA
                  - ZM
                  - ZW
                residence_certification:
                  type: boolean
                  description: Entity's on-form attestation that it is a tax resident of `country`. Must be `true` to claim treaty benefits. Required when `is_eligible = true`.
                  example: true
                income_type:
                  type: string
                  enum:
                  - royalties_other
                  - business_profits
                  description: 'Category of US-source income the claim applies to: `business_profits` covers trading gains and similar active income; `royalties_other` covers royalties and other passive income. Required when `is_eligible = true`. Accepted string tokens listed in enum; legacy numeric values still accepted for backward compatibility.'
                  example: business_profits
                withholding_rate:
                  type: string
                  description: Reduced rate granted by the treaty article, as a string percentage (e.g. "0", "10", "15"). Required when `is_eligible = true`.
                  example: '0'
                article_paragraph:
                  type: string
                  description: Treaty article and paragraph authorizing the rate (e.g. "Article 7, paragraph 1"). Free text but should match the actual treaty section. Required when `is_eligible = true`.
                  example: Article 7
                additional_conditions:
                  type: boolean
                  description: Whether the entity asserts that extra conditions in the treaty article are met. Send `true` only if the entity has affirmatively confirmed. Required when `is_eligible = true`.
                  example: false
                requirements_certification:
                  type: boolean
                  description: Entity's on-form attestation that it derives the relevant income and meets all qualifying tests of the treaty provision. Must be `true` when an entity is claiming treaty benefits in order to generate a W-8 form. Required when `is_eligible = true`.
                  example: true
                limitation_on_benefits:
                  type: string
                  enum:
                  - government
                  - tax_exempt_pension
                  - other_tax_exempt_organization
                  - publicly_traded_corporation
                  - subsidiary
                  - company_meets_erosion_test
                  - company_meets_derivative_test
                  - company_meets_business_test
                  - favorable_determination
                  - no_lob_article
                  - other_article_paragraph
                  description: Which Limitation on Benefits (LOB) clause the entity qualifies under. Required when `is_eligible = true`. Accepted string tokens listed in enum; legacy numeric values still accepted for backward compatibility.
                  example: publicly_traded_corporation
                limitation_on_benefits_other:
                  type: string
                  description: Free-text describing the article and paragraph the entity is relying on. Required when (and only when) `limitation_on_benefits = other_article_paragraph`.
                  example: ''
        mailing_address:
          type: object
          description: Root-level object on both customer and entity payloads (form-agnostic; also reused by W-9). Send only when the participant's mailing address differs from their permanent (W-8BEN) or incorporation (W-8BEN-E) address.
          properties:
            address_one:
              type: string
              description: Primary street line of the mailing address. Required when the object is present.
              example: 10 Downing Street
            address_two:
              type: string
              description: Secondary street line (unit, suite, etc.). Optional.
              example: Apt 2
            city:
              type: string
              description: City of the mailing address. Required when the object is present.
              example: London
            state:
              type: string
              description: State, province, or region of the mailing address. Optional.
              example: England
            postal_code:
              type: string
              description: Postal or ZIP code of the mailing address. Required when the object is present.
              example: SW1A 2AA
            country:
              type: string
              description: Country of the mailing address (ISO 3166-1 alpha-2). Required when the object is present.
              example: GB
              enum:
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BV
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HM
              - HN
              - HR
              - HT
              - HU
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - 'NO'
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - YE
              - YT
              - ZA
              - ZM
              - ZW
        merchant_category_code:
          type: string
          description: ISO 18245 four-digit Merchant Category Code (MCC) that identifies the business activity of the entity. Accepted on entity create/update; zerohash derives `merchant_category_code_category` and `merchant_category_code_classification` from this value.
          example: '5411'
        jurisdiction_code:
          type: string
          example: US-IL
          description: The ISO 3166-2 subdivision code that the entity resides in
      required:
      - submitter_email
    PatchUserBody:
      type: object
      properties:
        first_name:
          type: string
          example: John
          description: The first name of the user
        middle_name:
          type: string
          description: The middle name of the user
        last_name:
          type: string
          example: Smith
          description: The last name of the user
        email:
          type: string
          description: Email address of the user
          example: test@example.com
        contact_number:
          type: string
          description: The phone number of the user. Must be in E.164 format
          example: '+15557778888'
        address_one:
          type: string
          description: 'First line for the user''s address.


            Notes:

            - The regular maximum length is 80 characters.


            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: 123 Main St.
        address_two:
          type: string
          description: 'Extra information, like an apartment or suite number.


            Notes:

            - The regular maximum length is 50 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: Suite 1000
        city:
          type: string
          description: City of the user
          example: Chicago
        postal_code:
          type: string
          description: Postal, or zip code, of the user, in the format "min 4 characters, no leading or trailing spaces" for non-US postal code or <5digits>-<4digits> for US zip code, e.g. 77777 or 77777-7777
          example: '12345'
        jurisdiction_code:
          type: string
          example: US-IL
          description: The ISO 3166-2 subdivision code that the user resides in
        date_of_birth:
          type: string
          description: Birth date of the user
          example: '1985-09-02'
        place_of_birth:
          type: object
          required:
          - country_code
          properties:
            country_code:
              type: string
              description: ISO 3166-1 alpha-2 Country Code
              example: NL
            place_name:
              type: string
              description: Name of the place of birth
              example: Amsterdam
          description: The place of birth of the user, as is defined on their ID (Passport, etc.)
          example:
            country_code: NL
            place_name: Amsterdam
        citizenship_code:
          type: string
          example: US
          description: The ISO-3166-1 alpha2 citizenship of the user, e.g. `US`.
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        tax_id:
          type: string
          description: "The national ID of the user, e.g. a social security number. Required if `citizenship=United States` or `citizenship_code=US`. \nNote: if `citizenship=United States`, and `tax_id` begins with `9`, then `id_number_type` and `id_number` are also required."
          example: 000-00-0000
        id_number_type:
          type: string
          enum:
          - us_drivers_license
          - us_passport
          - us_passport_card
          - us_permanent_resident_card
          - us_border_crossing_card
          - us_alien_card
          - us_id_card
          - non_us_passport
          - non_us_other
          - passport
          - eu_drivers_license
          - national_id
          - legal_entity_identifier
          - chamber_of_commerce_number
          - value_added_tax_number
          description: 'The type of identification number provided.


            **Allowed values:**

            - `us_drivers_license` - US Driver''s License

            - `us_passport` - US Passport

            - `us_passport_card` - US Passport Card

            - `us_permanent_resident_card` - US Permanent Resident Card (Green Card)

            - `us_border_crossing_card` - US Border Crossing Card

            - `us_alien_card` - US Alien Registration Card

            - `us_id_card` - US State-issued ID Card

            - `non_us_passport` - Non-US Passport

            - `non_us_other` - Other Non-US identification (requires `non_us_other_type` field)

            - `passport` - Generic passport

            - `eu_drivers_license` - European Union Driver''s License

            - `national_id` - National identity card

            - `legal_entity_identifier` - Legal Entity Identifier (LEI) for organizations

            - `chamber_of_commerce_number` - Chamber of Commerce registration number

            - `value_added_tax_number` - VAT identification number


            **Conditional requirements:**

            - When `id_number_type` is `non_us_other`, the `non_us_other_type` field is required.

            **Note:** Required when citizenship is not `United States` or `tax_id` is not an SSN.'
          example: us_passport
        id_number:
          type: string
          description: "ID number of the ID document provided. \nRequired when citizenship is not `United States` or `tax_id` is not an SSN\t"
          example: '123456789'
        id_issuing_authority:
          type: string
          description: ISO-3166-1_A2 country code that issued the ID. Required if `id_number` is provided.
          example: US
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        non_us_other_type:
          type: string
          description: This is required if you select `non_us_other` for the `id_number_type` - a freeform string to describe the ID type
          example: null
        sanction_screening:
          type: string
          enum:
          - pass
          - fail
          description: 'Result of the user''s sanctions screening.


            **Allowed values:**

            - `pass` - User passed sanctions screening

            - `fail` - User failed sanctions screening'
          example: pass
        sanction_screening_timestamp:
          type: number
          description: UNIX timestamp (in milliseconds) when the sanctions screening was performed on the user.
          example: 1603378501286
        kyc:
          type: string
          enum:
          - pass
          - fail
          description: 'Whether the user passed or failed KYC verification by vendor.


            **Allowed values:**

            - `pass` - KYC verification passed

            - `fail` - KYC verification failed'
          example: pass
        kyc_timestamp:
          type: number
          description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
          example: 1603378501286
        role:
          type: string
          description: The role of the user
          example: ''
    ControlPersonEntity:
      type: object
      properties:
        name:
          type: string
          description: Full name of the control person
          example: John Smith
        email:
          type: string
          description: Email address of control person
          example: test@example.com
        address_one:
          type: string
          description: 'First line for the control person''s address.


            Notes:

            - The regular maximum length is 80 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: 123 Main St.
        address_two:
          type: string
          description: 'Extra information, like an apartment or suite number.


            Notes:

            - The regular maximum length is 50 characters.

            - If the platform is on the vendor reliance track, the maximum length increases to 200 characters.

            - PO Box addresses are not accepted.'
          example: Suite 1000
        city:
          type: string
          description: City of the control person
          example: Chicago
        postal_code:
          type: string
          description: Postal, or zip code, of the control person, in the format "min 4 characters, no leading or trailing spaces" for non-US postal code or <5digits>-<4digits> for US zip code, e.g. 77777 or 77777-7777
          example: '12345'
        jurisdiction_code:
          type: string
          example: US-IL
          description: The ISO 3166-2 subdivision code that the control person resides in
        date_of_birth:
          type: string
          description: Birth date of the control person
          example: '1985-09-02'
        phone_number:
          type: string
          description: The phone number of the control person
          example: '15557778888'
        citizenship_code:
          type: string
          example: US
          description: The ISO-3166-1 alpha2 citizenship of the control person, e.g. `US`.
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
[...]
