openapi: 3.2.0
info:
  title: zerohash Individual Participants API
  description: '

    ### Authentication


    zerohash Uses HMAC SHA-256 verification to ensure the authenticity of API requests, follow instructions by link [https://docs.zerohash.com/reference/api-authentication](https://docs.zerohash.com/reference/api-authentication)


    <a href="/zh-swagger.json">Download zerohash OpenAPI Schema as JSON</a>

    '
  version: 1.7.0
servers:
- url: https://api.cert.zerohash.com
  description: Certification API server
security:
- apiKey: []
  apiPassphrase: []
tags:
- name: Individual Participants
  description: Create and Manage Individual Participants
paths:
  /participants/customers/new:
    post:
      tags:
      - Individual Participants
      summary: Create customer
      description: 'Submits a customer to your platform.

        This endpoint is only available to certain participants leveraging zerohash for customer settlements. Please contact us for more information on enabling this endpoint.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: Customer profile data including personal information, contact details, and KYC information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCustomersBody'
      responses:
        '201':
          description: Successfully created customer participant. Returns the created resource with generated IDs and timestamps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCustomersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/documents:
    post:
      tags:
      - Individual Participants
      summary: Submit documents
      description: Submits a document on behalf of you or a customer if you operate a platform on zerohash.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        description: Document metadata including participant code, document type, and base64-encoded file data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDocumentsBody'
      responses:
        '201':
          description: Successfully created participant document. Returns the created resource with generated IDs and timestamps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDocumentsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/customers/{participant_code}:
    patch:
      tags:
      - Individual Participants
      summary: Update customer
      description: 'Updates a customer of your platform.

        This endpoint is only available to certain participants leveraging zerohash for customer settlements. Please contact us for more information on enabling this endpoint.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      requestBody:
        description: Updated customer profile fields (all fields optional, only send fields to update)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCustomersBody'
      responses:
        '200':
          description: Successfully updated customer participant. Returns the updated resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCustomersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/customers/{participant_code}/lock:
    post:
      tags:
      - Individual Participants
      summary: Lock customer
      description: When platforms terminate a customer, they may alert zerohash through this endpoint.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      requestBody:
        description: Lock reason and optional metadata for the customer termination
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockCustomersBody'
      responses:
        '200':
          description: Successfully locked customer.
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/beneficiaries/new:
    post:
      tags:
      - Individual Participants
      summary: Create beneficiary
      description: 'Submits a beneficiary to your platform.

        This endpoint is only available to certain participants leveraging zerohash for beneficiary services. Please contact us for more information on enabling this endpoint.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        description: Beneficiary profile data including personal information and contact details. When 'onboarding_profile' is 'payouts_beneficiary', either 'tax_id' or 'id_number'+'id_number_type' is required (both may be sent together).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBeneficiariesBody'
      responses:
        '201':
          description: Successfully created beneficiary participant. Returns the created resource with generated IDs and timestamps.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBeneficiariesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participants/beneficiaries/{participant_code}:
    patch:
      tags:
      - Individual Participants
      summary: Update beneficiary
      description: 'Updates a beneficiary from your platform.

        This endpoint is only available to certain participants leveraging zerohash for beneficiary services. Please contact us for more information on enabling this endpoint.'
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/ParticipantCodePath'
      requestBody:
        description: Updated beneficiary fields (all fields optional, only send fields to update)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBeneficiariesBody'
      responses:
        '200':
          description: Successfully updated beneficiary participant. Returns the updated resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchBeneficiariesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
  /participant/{participant_code}/limits:
    patch:
      tags:
      - Individual Participants
      summary: Update participant limits
      description: Updates transaction limits for a participant. Allows platforms to configure custom limits by transaction type, time period, and asset. This endpoint is available when the platform is configured accordingly to use custom limits.
      parameters:
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/ParticipantCodePath'
      requestBody:
        description: Limit configuration for the participant
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchParticipantLimitsBody'
      responses:
        '200':
          description: Limits updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchParticipantLimitsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Code503'
components:
  schemas:
    AdditionalTaxResidence:
      type: object
      required:
      - tax_id
      - jurisdiction_code
      properties:
        tax_id:
          type: string
          description: Tax identification number for the additional tax residence
        jurisdiction_code:
          type: string
          description: The ISO 3166-2 subdivision code that the participant resides in
          example: US-IL
    PostBeneficiariesResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            first_name:
              type: string
              description: The first name of the customer being onboarded.
              example: John
            last_name:
              type: string
              description: The last name of the customer being onboarded.
              example: Smith
            email:
              type: string
              description: 'Customer email address, required.

                Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
              example: test@example.com
            address_one:
              type: string
              description: 'First line for the customer''s address.


                Notes:

                - The regular maximum length is 80 characters.

                - If the platform is on the vendor reliance track, the maximum length increases to `200` characters.

                - PO Box addresses are not accepted.'
              example: 123 Main St.
            address_two:
              type: string
              description: 'Extra information, like an apartment or suite number.


                Notes:

                - The maximum length is `50` characters for platform using KYCaaS through zerohash.

                - If the platform is on the shared vendor reliance track, the maximum length increases to `200` characters.

                - PO Box addresses are not accepted.'
              example: Suite 1000
            jurisdiction_code:
              type: string
              description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
              example: US-IL
              enum:
              - US-AL
              - US-AK
              - US-AZ
              - US-AR
              - US-CA
              - US-CO
              - US-CT
              - US-DE
              - US-FL
              - US-GA
              - US-HI
              - US-ID
              - US-IL
              - US-IN
              - US-IA
              - US-KS
              - US-KY
              - US-LA
              - US-ME
              - US-MD
              - US-MA
              - US-MI
              - US-MN
              - US-MS
              - US-MO
              - US-MT
              - US-NE
              - US-NV
              - US-NH
              - US-NJ
              - US-NM
              - US-NY
              - US-NC
              - US-ND
              - US-OH
              - US-OK
              - US-OR
              - US-PA
              - US-RI
              - US-SC
              - US-SD
              - US-TN
              - US-TX
              - US-UT
              - US-VT
              - US-VA
              - US-WA
              - US-WV
              - US-WI
              - US-WY
              - US-DC
              - US-AS
              - US-GU
              - US-MP
              - US-PR
              - US-UM
              - US-VI
            city:
              type: string
              description: The city customer resides in.
              example: Chicago
            zip:
              type: string
              description: Zip code of the customer, required if `country` is `USA`, min 5 characters or `<5digits>-<4digits>`, no leading or trailing spaces", e.g. 77777 or 77777-7777.
              example: '12345'
            date_of_birth:
              type: string
              description: Date of birth of the customer in the format `YYYY-MM-DD`
              example: '1985-09-02'
            id_number_type:
              type: string
              enum:
              - us_drivers_license
              - us_passport
              - us_passport_card
              - us_permanent_resident_card
              - us_border_crossing_card
              - us_alien_card
              - us_id_card
              - non_us_passport
              - non_us_other
              - passport
              - eu_drivers_license
              - national_id
              - legal_entity_identifier
              - chamber_of_commerce_number
              - value_added_tax_number
              description: "The id number type field is required when; \n - `citizenship` is not `US`\n - `citizenship=US` and `tax_id` starts with `9` (is an ITIN, a 9-digit US ID that begins with the number 9).\nPassport, EU Drivers License, National ID are EU-specific types. EU platforms also accept us_passport, non_us_passport, non_us_other, us_drivers_license, us_id_card, us_passport_card"
              example: us_passport
            id_number:
              type: string
              description: "The ID number for the customer. \n - Required when `citizenship_code` is not `US`\n - Required when `citizenship_code : US` but `tax_id` is an ITIN (a 9-digit US ID that begins with the number `9`)."
              example: '123456789'
            citizenship_code:
              type: string
              example: US
              description: The ISO-3166-1 alpha2 citizenship of the participant, e.g. `US`.
              enum:
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BV
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HM
              - HN
              - HR
              - HT
              - HU
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - 'NO'
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - YE
              - YT
              - ZA
              - ZM
              - ZW
            non_us_other_type:
              type: string
              description: This is required if you select `non_us_other` for the `id_number_type` - a freeform string to describe the ID type
              example: null
            id_issuing_authority:
              type: string
              description: ISO-3166-1_A2 country code that issued the ID. Required if `id_number` is provided.
              example: null
            phone_number:
              type: string
              description: The phone number of the participant
              example: '15557778888'
            platform_code:
              type: string
              example: XXXXXX
            participant_code:
              type: string
              example: XXXXXX
    PatchParticipantLimitsResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message
          example: Participant limits updated successfully
    Code503:
      type: object
      description: 'A downstream dependency was unavailable, timed out, or returned a retryable error. Safe to retry; the response carries a `zh-allow-retry: true` header.'
      required:
      - error
      properties:
        error:
          type: string
          example: Service Unavailable
    Code404:
      type: object
      description: The requested resource does not exist or is not visible to the caller.
      required:
      - error
      properties:
        error:
          type: string
          example: Not Found
    PatchCustomersResponse:
      type: object
      properties:
        message:
          type: object
          description: Updated customer summary. Only a fixed subset of identity fields is returned after an update, regardless of which fields were patched.
          properties:
            first_name:
              type: string
              description: The first name of the customer being onboarded.
              example: John
            last_name:
              type: string
              description: The last name of the customer being onboarded.
              example: Smith
            country:
              type: string
              example: USA
              description: 'The ISO-3166-1 alpha3 country, e.g.`USA`, `IRL`. '
              enum:
              - AND
              - ARE
              - AFG
              - ATG
              - AIA
              - ALB
              - ARM
              - AGO
              - ATA
              - ARG
              - ASM
              - AUT
              - AUS
              - ABW
              - ALA
              - AZE
              - BIH
              - BRB
              - BGD
              - BEL
              - BFA
              - BGR
              - BHR
              - BDI
              - BEN
              - BLM
              - BMU
              - BRN
              - BOL
              - BES
              - BRA
              - BHS
              - BTN
              - BVT
              - BWA
              - BLR
              - BLZ
              - CAN
              - CCK
              - COD
              - CAF
              - COG
              - CHE
              - CIV
              - COK
              - CHL
              - CMR
              - CHN
              - COL
              - CRI
              - CUB
              - CPV
              - CUW
              - CXR
              - CYP
              - CZE
              - DEU
              - DJI
              - DNK
              - DMA
              - DOM
              - DZA
              - ECU
              - EST
              - EGY
              - ESH
              - ERI
              - ESP
              - ETH
              - FIN
              - FJI
              - FLK
              - FSM
              - FRO
              - FRA
              - GAB
              - GBR
              - GRD
              - GEO
              - GUF
              - GGY
              - GHA
              - GIB
              - GRL
              - GMB
              - GIN
              - GLP
              - GNQ
              - GRC
              - SGS
              - GTM
              - GUM
              - GNB
              - GUY
              - HKG
              - HMD
              - HND
              - HRV
              - HTI
              - HUN
              - IDN
              - IRL
              - ISR
              - IMN
              - IND
              - IOT
              - IRQ
              - IRN
              - ISL
              - ITA
              - JEY
              - JAM
              - JOR
              - JPN
              - KEN
              - KGZ
              - KHM
              - KIR
              - COM
              - KNA
              - PRK
              - KOR
              - KWT
              - CYM
              - KAZ
              - LAO
              - LBN
              - LCA
              - LIE
              - LKA
              - LBR
              - LSO
              - LTU
              - LUX
              - LVA
              - LBY
              - MAR
              - MCO
              - MDA
              - MNE
              - MAF
              - MDG
              - MHL
              - MKD
              - MLI
              - MMR
              - MNG
              - MAC
              - MNP
              - MTQ
              - MRT
              - MSR
              - MLT
              - MUS
              - MDV
              - MWI
              - MEX
              - MYS
              - MOZ
              - NAM
              - NCL
              - NER
              - NFK
              - NGA
              - NIC
              - NLD
              - NOR
              - NPL
              - NRU
              - NIU
              - NZL
              - OMN
              - PAN
              - PER
              - PYF
              - PNG
              - PHL
              - PAK
              - POL
              - SPM
              - PCN
              - PRI
              - PSE
              - PRT
              - PLW
              - PRY
              - QAT
              - REU
              - ROU
              - SRB
              - RUS
              - RWA
              - SAU
              - SLB
              - SYC
              - SDN
              - SWE
              - SGP
              - SHN
              - SVN
              - SJM
              - SVK
              - SLE
              - SMR
              - SEN
              - SOM
              - SUR
              - SSD
              - STP
              - SLV
              - SXM
              - SYR
              - SWZ
              - TCA
              - TCD
              - ATF
              - TGO
              - THA
              - TJK
              - TKL
              - TLS
              - TKM
              - TUN
              - TON
              - TUR
              - TTO
              - TUV
              - TWN
              - TZA
              - UKR
              - UGA
              - UMI
              - USA
              - URY
              - UZB
              - VAT
              - VCT
              - VEN
              - VGB
              - VIR
              - VNM
              - VUT
              - WLF
              - WSM
              - YEM
              - MYT
              - ZAF
              - ZMB
              - ZWE
            jurisdiction_code:
              type: string
              description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
              example: US-IL
              enum:
              - US-AL
              - US-AK
              - US-AZ
              - US-AR
              - US-CA
              - US-CO
              - US-CT
              - US-DE
              - US-FL
              - US-GA
              - US-HI
              - US-ID
              - US-IL
              - US-IN
              - US-IA
              - US-KS
              - US-KY
              - US-LA
              - US-ME
              - US-MD
              - US-MA
              - US-MI
              - US-MN
              - US-MS
              - US-MO
              - US-MT
              - US-NE
              - US-NV
              - US-NH
              - US-NJ
              - US-NM
              - US-NY
              - US-NC
              - US-ND
              - US-OH
              - US-OK
              - US-OR
              - US-PA
              - US-RI
              - US-SC
              - US-SD
              - US-TN
              - US-TX
              - US-UT
              - US-VT
              - US-VA
              - US-WA
              - US-WV
              - US-WI
              - US-WY
              - US-DC
              - US-AS
              - US-GU
              - US-MP
              - US-PR
              - US-UM
              - US-VI
            email:
              type: string
              description: 'Customer email address, required.

                Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
              example: test@example.com
            signed_timestamp:
              type: number
              description: The UNIX timestamp (in milliseconds) when the  Services Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
              example: 1603378501286
            signed_agreements:
              type: array
              items:
                type: object
                required:
                - type
                - region
                - signed_timestamp
                properties:
                  type:
                    type: string
                    enum:
                    - fund_auto_convert
                    - payment_services_terms
                    - account_link
                    - account_funding_payouts
                    - account_funding_general
                    - account_funding_pay
                    - crypto_payouts_service_terms
                    - staking
                    - trust_agreement
                    - zhllc_user_agreement_v1
                    - zhllc_privacy_policy_v1
                    - zhllc_regulatory_disclosures_v1
                    - auth_user_services_agreement_v1
                    - zhllc_payment_sender_terms_v1
                    - zhllc_third_party_disclosures_v1
                    - connect_privacy_policy_v1
                    example: user_agreement
                  region:
                    type: string
                    enum:
                    - worldwide
                    - us
                    - brazil
                    - uk
                    - eu
                    example: us
                  signed_timestamp:
                    type: number
                    description: The UNIX timestamp (in milliseconds) when the Fund Auto Convert Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
                    example: 1603378501286
            platform_code:
              type: string
              example: XXXXXX
            participant_code:
              type: string
              example: XXXXXX
            phone_number:
              type: string
              description: Customer phone number. Only included in the response for platforms where phone number echo is enabled.
              example: '15557778888'
    PostDocumentsResponse:
      type: object
      properties:
        message:
          type: object
          properties:
            state:
              type: string
              description: Upload state.
              example: Success
            file_name:
              type: string
              description: Name of the uploaded file, echoed back from the request.
              example: supporting_document.pdf
            created_at:
              type: number
              format: int64
              description: Unix timestamp in milliseconds indicating when the document upload was recorded.
              example: 1572899177383
    PostCustomersBody:
      oneOf:
      - title: EU Customer
        type: object
        description: All accepted fields for an EU customer
        properties:
          first_name:
            type: string
            description: The first name of the customer being onboarded.
            example: John
          middle_name:
            type: string
            description: The middle name of the customer being onboarded.
            example: Middle
          last_name:
            type: string
            description: The last name of the customer being onboarded.
            example: Smith
          email:
            type: string
            description: 'Customer email address, required.

              Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
            example: test@example.com
          phone_number:
            type: string
            description: The phone number of the participant
            example: '15557778888'
          citizenship_code:
            type: string
            example: US
            description: The ISO-3166-1 alpha2 citizenship of the participant, e.g. `US`.
            enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - 'NO'
            - NP
            - NR
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SV
            - SX
            - SY
            - SZ
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - YE
            - YT
            - ZA
            - ZM
            - ZW
          place_of_birth:
            type: object
            required:
            - country_code
            properties:
              country_code:
                type: string
                description: ISO 3166-1 alpha-2 Country Code
                example: NL
              place_name:
                type: string
                description: Name of the place of birth
                example: Amsterdam
            description: "The place of birth of the participant, as is defined on their ID (Passport, etc.).\n\nRequired if; \n - `id_number_type=passport` \n - `id_number_type=us-passport` \n - `id_number_type=non-us-passport`"
            example:
              country_code: NL
              place_name: Amsterdam
          date_of_birth:
            type: string
            description: Date of birth of the customer in the format `YYYY-MM-DD`
            example: '1985-09-02'
          address_one:
            type: string
            description: 'First line for the customer''s address.


              Notes:

              - The regular maximum length is 80 characters.

              - If the platform is on the vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: 123 Main St.
          address_two:
            type: string
            description: 'Extra information, like an apartment or suite number.


              Notes:

              - The maximum length is `50` characters for platform using KYCaaS through zerohash.

              - If the platform is on the shared vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: Suite 1000
          city:
            type: string
            description: The city customer resides in.
            example: Chicago
          postal_code:
            type: string
            description: Same as `zip`. Postal code of the customer, in the format "min 4 characters, no leading or trailing spaces".
            example: '12345'
            minLength: 4
          tax_id:
            type: string
            description: "The national ID of the participant, e.g. a social security number.\n - Required when `citizenship_code` is `US`.\n - Optional when `citizenship_code` is not `US`, but if provided, must be accompanied by a valid `id_number` and `id_number_type`.\n - If the tax ID provided is a US ITIN (a 9-digit US ID that begins with the number `9`), then `id_number_type` will be required."
            example: 000-00-0000
          id_number_type:
            type: string
            enum:
            - passport
            - eu_drivers_license
            - national_id
            - us_passport
            - non_us_passport
            - non_us_other
            - us_drivers_license
            - us_id_card
            - us_passport_card
            description: Passport, EU Drivers License, National ID are EU-specific types. EU platforms also accept us_passport, non_us_passport, non_us_other, us_drivers_license, us_id_card, us_passport_card
          id_number:
            type: string
            description: "The ID number for the customer. \n - Required when `citizenship_code` is not `US`\n - Required when `citizenship_code : US` but `tax_id` is an ITIN (a 9-digit US ID that begins with the number `9`)."
            example: '123456789'
          id_issuing_date:
            type: string
            description: ID Issuing Date of the customer in the format `YYYY-MM-DD`
            example: '2020-12-16'
          id_issuing_authority:
            type: string
            description: ISO-3166-1_A2 country code that issued the ID. Required if `id_number` is provided.
            example: null
          id_issuing_locality:
            type: string
            description: The locality where the customer's ID was issued, as is defined on their ID (Passport, etc.) ISO 3166-1 alpha-2 Country Code format.
          id_expiration_date:
            type: string
            description: "ID Expiration Date of the customer in the format `YYYY-MM-DD`.\n\nRequired if; \n - `id_number_type=passport` \n - `id_number_type=us-passport` \n - `id_number_type=non-us-passport`"
            example: '2026-12-25'
          signed_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when the  Services Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          sanction_screening_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          jurisdiction_code:
            type: string
            description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
            example: US-IL
            enum:
            - US-AL
            - US-AK
            - US-AZ
            - US-AR
            - US-CA
            - US-CO
            - US-CT
            - US-DE
            - US-FL
            - US-GA
            - US-HI
            - US-ID
            - US-IL
            - US-IN
            - US-IA
            - US-KS
            - US-KY
            - US-LA
            - US-ME
            - US-MD
            - US-MA
            - US-MI
            - US-MN
            - US-MS
            - US-MO
            - US-MT
            - US-NE
            - US-NV
            - US-NH
            - US-NJ
            - US-NM
            - US-NY
            - US-NC
            - US-ND
            - US-OH
            - US-OK
            - US-OR
            - US-PA
            - US-RI
            - US-SC
            - US-SD
            - US-TN
            - US-TX
            - US-UT
            - US-VT
            - US-VA
            - US-WA
            - US-WV
            - US-WI
            - US-WY
            - US-DC
            - US-AS
            - US-GU
            - US-MP
            - US-PR
            - US-UM
            - US-VI
          kyc:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed or failed KYC by vendor
            example: pass
          kyc_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          sanction_screening:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed sanctions checks (Platforms with X do not need to send `sanction_screening`)
            example: pass
          idv:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed or failed ID verification
            example: pass
          liveness_check:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed or failed a liveness check
            example: pass
          risk_rating:
            type: string
            enum:
            - low
            - medium
            - high
            description: The risk-rating associated with the customer, conditionally required for certain platforms
            example: null
          employment_status:
            type: string
            enum:
            - full_time
            - part_time
            - self_employed
            - unemployed
            - retired
            - student
            description: Employment status
            example: full_time
          industry:
            type: string
            enum:
            - adult_entertainment
            - advertising_media_marketing
            - agriculture
            - arts_entertainment
            - charity
            - construction_manufacturing
            - consulting
            - consumer_products_services
            - crypto_mining
            - ecommerce
            - education
            - electronics
            - fashion
            - financial_services
            - food_beverages
            - government_agency
            - insurance
            - jewelry_gemstones
            - law_enforcement
            - legal_services
            - mining_energy_chemicals
            - online_gaming_gambling
            - pharmaceuticals
            - property_real_estate
            - retail_wholesale
            - transportation
            - travel_car_hire
            - weapons_defense_aerospace
            - other
            description: Employment industry
            example: adult_entertainment
          source_of_funds:
            type: string
            enum:
            - salary
            - savings
            - pension_retirement
            - inheritance
            - investment
            - loan
            - gift
            - other
            description: Source of funds
            example: salary
          salary:
            type: string
            enum:
            - under_3500
            - between_35001_and_75000
            - between_75001_and_125000
            - between_125001_and_200000
            - over_200000
            description: Salary of the participant
            example: under_3500
          savings_and_investments:
            type: string
            enum:
            - under_10000
            - between_10001_and_25000
            - between_25001_and_50000
            - between_50001_and_100000
            - between_100001_and_250000
            - over_250000
            description: Savings and investments of the participant.
            example: under_10000
          tx_equivalent_annual_volume:
            type: string
            enum:
            - up_to_5k
            - 5k_to_25k
            - 25k_to_100k
            - 100k_and_up
            example: 25k_to_100k
            description: The estimated total value of transactions the individual expects to process annually on the platform, in a specified currency (e.g., USD, EUR depends on region).
          tx_frequency_of_use:
            type: string
            enum:
            - up_to_12
            - 12_to_53
            - 53_to_365
            - 365_and_up
            example: up_to_12
            description: How often the individual will use the platform's services.
          tx_type_of_service:
            type: array
            minItems: 0
            items:
              type: string
              enum:
              - unknown
              - buy_crypto
              - sell_crypto
              - swap_crypto
              - buy_crypto_fiat
              - sell_crypto_fiat
              - trade_crypto_crypto
              - peer_to_peer
            example:
            - buy_crypto
            - sell_crypto
            description: The main service type the individual will use, like `buy_crypto` or `sell_crypto`, or both, or less, or more etc.
          tx_relationship_term_with_service:
            type: string
            enum:
            - long_term
            - short_term
            - other
            example: long_term
            description: The expected duration of the individual's platform use, e.g., `short_term` (<1 year) or `long_term` (>5 years).
          tx_relationship_term_with_service_other_explanation:
            type: string
            example: some free form explanation here in case of other type of tx_relationship_term_with_service
            description: Optional text to explain a non-standard relationship term (e.g., "few months for a project"). Used when `other` is provided in `tx_relationship_term_with_service`.
          signed_agreements:
            type: array
            items:
              type: object
              required:
              - type
              - region
              - signed_timestamp
              properties:
                type:
                  type: string
                  enum:
                  - fund_auto_convert
                  - payment_services_terms
                  - account_link
                  - account_funding_payouts
                  - account_funding_general
                  - account_funding_pay
                  - crypto_payouts_service_terms
                  - staking
                  - trust_agreement
                  - zhllc_user_agreement_v1
                  - zhllc_privacy_policy_v1
                  - zhllc_regulatory_disclosures_v1
                  - auth_user_services_agreement_v1
                  - zhllc_payment_sender_terms_v1
                  - zhllc_third_party_disclosures_v1
                  - connect_privacy_policy_v1
                  example: user_agreement
                region:
                  type: string
                  enum:
                  - worldwide
                  - us
                  - brazil
                  - uk
                  - eu
                  example: us
                signed_timestamp:
                  type: number
                  description: The UNIX timestamp (in milliseconds) when the Fund Auto Convert Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
                  example: 1603378501286
          self_certification_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when the participant completed self-certification for DAC8 compliance. Mandatory for participants that are based in Europe.
            example: 1667504636159
          tax_residence:
            type: object
            description: Tax residence address for the customer
            required:
            - jurisdiction_code
            properties:
              address_one:
                type: string
                description: First line of tax residence address
              address_two:
                type: string
                description: Second line of tax residence address (optional)
              city:
                type: string
                description: City of tax residence
              jurisdiction_code:
                type: string
                description: Jurisdiction code in ISO-3166-2 format
                example: PT-11
              postal_code:
                type: string
                description: Postal code of tax residence
          tin_jurisdiction_reason:
            type: string
            enum:
            - working_abroad
            - studying_abroad
            - dual_residency
            - business_abroad
            - real_estate_abroad
            - other
            description: Optional. Reason for the tax residence jurisdiction differing from the legal jurisdiction. Defaults to "unknown" if not provided.
            example: working_abroad
          proof_of_address_coordinates:
            type: object
            description: GPS coordinates of the proof of address. Accepts both Decimal Degrees (DD) and Degrees Minutes Seconds (DMS) formats.
            properties:
              latitude:
                type: string
                description: Latitude in DD format (e.g., "51.511164") or DMS format (e.g., "N 51d 30.000000m 40.190000")
                pattern: ^(([NSEW])s+(d+(?:.d+)?)ds+(d+(?:.d+)?)ms+(d+(?:.d+)?)|(-?d+(?:.d+)?))$
                example: N 51d 30.000000m 40.190000
              longitude:
                type: string
                description: Longitude in DD format (e.g., "-0.083317") or DMS format (e.g., "W 0d 4.100000m 59.940000")
                pattern: ^(([NSEW])s+(d+(?:.d+)?)ds+(d+(?:.d+)?)ms+(d+(?:.d+)?)|(-?d+(?:.d+)?))$
                example: W 0d 4.100000m 59.940000
            required:
            - latitude
            - longitude
            additionalProperties: false
        required:
        - first_name
        - last_name
        - email
        - address_one
        - city
        - jurisdiction_code
        - date_of_birth
        - citizenship_code
        - kyc
        - kyc_timestamp
        - sanction_screening
        - sanction_screening_timestamp
        - phone_number
        - signed_timestamp
        - signed_agreements
        - idv
        - liveness_check
        - employment_status
        - risk_rating
        - industry
        - source_of_funds
        - savings_and_investments
        - postal_code
        - id_number_type
        - id_issuing_authority
        - id_expiration_date
        - id_number
        - tax_id
        - tax_residence
        - self_certification_timestamp
      - title: US Customer - Reliance
        type: object
        description: Platforms on the vendor reliance track can submit this reduced set of fields for US customers.
        properties:
          first_name:
            type: string
            description: The first name of the customer being onboarded.
            example: John
          middle_name:
            type: string
            description: The middle name of the customer being onboarded.
            example: Middle
          last_name:
            type: string
            description: The last name of the customer being onboarded.
            example: Smith
          date_of_birth:
            type: string
            description: Date of birth of the customer in the format `YYYY-MM-DD`
            example: '1985-09-02'
          email:
            type: string
            description: 'Customer email address, required.

              Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
            example: test@example.com
          phone_number:
            type: string
            description: The phone number of the participant
            example: '15557778888'
          address_one:
            type: string
            description: 'First line for the customer''s address.


              Notes:

              - The regular maximum length is 80 characters.

              - If the platform is on the vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: 123 Main St.
          address_two:
            type: string
            description: 'Extra information, like an apartment or suite number.


              Notes:

              - The maximum length is `50` characters for platform using KYCaaS through zerohash.

              - If the platform is on the shared vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: Suite 1000
          city:
            type: string
            description: The city customer resides in.
            example: Chicago
          zip:
            type: string
            description: Zip code of the customer, required if `country` is `USA`, min 5 characters or `<5digits>-<4digits>`, no leading or trailing spaces", e.g. 77777 or 77777-7777.
            example: '12345'
          postal_code:
            type: string
            description: Same as `zip`. Postal code of the customer, in the format "min 4 characters, no leading or trailing spaces".
            example: '12345'
            minLength: 4
          jurisdiction_code:
            type: string
            description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
            example: US-IL
            enum:
            - US-AL
            - US-AK
            - US-AZ
            - US-AR
            - US-CA
            - US-CO
            - US-CT
            - US-DE
            - US-FL
            - US-GA
            - US-HI
            - US-ID
            - US-IL
            - US-IN
            - US-IA
            - US-KS
            - US-KY
            - US-LA
            - US-ME
            - US-MD
            - US-MA
            - US-MI
            - US-MN
            - US-MS
            - US-MO
            - US-MT
            - US-NE
            - US-NV
            - US-NH
            - US-NJ
            - US-NM
            - US-NY
            - US-NC
            - US-ND
            - US-OH
            - US-OK
            - US-OR
            - US-PA
            - US-RI
            - US-SC
            - US-SD
            - US-TN
            - US-TX
            - US-UT
            - US-VT
            - US-VA
            - US-WA
            - US-WV
            - US-WI
            - US-WY
            - US-DC
            - US-AS
            - US-GU
            - US-MP
            - US-PR
            - US-UM
            - US-VI
          citizenship_code:
            type: string
            enum:
            - US
            description: Must be `US` for this schema
          tax_id:
            type: string
            description: "The national ID of the participant, e.g. a social security number.\n - Required when `citizenship_code` is `US`.\n - Optional when `citizenship_code` is not `US`, but if provided, must be accompanied by a valid `id_number` and `id_number_type`.\n - If the tax ID provided is a US ITIN (a 9-digit US ID that begins with the number `9`), then `id_number_type` will be required."
            example: 000-00-0000
          kyc:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed or failed KYC by vendor
            example: pass
          kyc_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          onboarding_profile:
            type: string
            enum:
            - kyc_track
            - shopper
            description: Onboarding profile used to determine the participant's KYC track. Defaults to 'kyc_track' when omitted.
            example: kyc_track
          sanction_screening:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed sanctions checks (Platforms with X do not need to send `sanction_screening`)
            example: pass
          sanction_screening_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          employment_status:
            type: string
            enum:
            - full_time
            - part_time
            - self_employed
            - unemployed
            - retired
            - student
            description: Employment status
            example: full_time
          signed_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when the  Services Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          signed_agreements:
            type: array
            items:
              type: object
              required:
              - type
              - region
              - signed_timestamp
              properties:
                type:
                  type: string
                  enum:
                  - fund_auto_convert
                  - payment_services_terms
                  - account_link
                  - account_funding_payouts
                  - account_funding_general
                  - account_funding_pay
                  - crypto_payouts_service_terms
                  - staking
                  - trust_agreement
                  - zhllc_user_agreement_v1
                  - zhllc_privacy_policy_v1
                  - zhllc_regulatory_disclosures_v1
                  - auth_user_services_agreement_v1
                  - zhllc_payment_sender_terms_v1
                  - zhllc_third_party_disclosures_v1
                  - connect_privacy_policy_v1
                  example: user_agreement
                region:
                  type: string
                  enum:
                  - worldwide
                  - us
                  - brazil
                  - uk
                  - eu
                  example: us
                signed_timestamp:
                  type: number
                  description: The UNIX timestamp (in milliseconds) when the Fund Auto Convert Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
                  example: 1603378501286
          metadata:
            oneOf:
            - type: object
              properties: {}
              description: Can be used to submit any additional unstructured metadata as JSON object
              example: {}
            - type: string
              description: Can be used to submit any additional unstructured metadata as JSON string
              example: '{"field1": "string_value", "field2": 123, "field3": true}'
          tax_residence:
            type: object
            description: Tax residence address for the customer
            required:
            - jurisdiction_code
            properties:
              address_one:
                type: string
                description: First line of tax residence address
              address_two:
                type: string
                description: Second line of tax residence address (optional)
              city:
                type: string
                description: City of tax residence
              jurisdiction_code:
                type: string
                description: Jurisdiction code in ISO-3166-2 format
                example: PT-11
              postal_code:
                type: string
                description: Postal code of tax residence
          tin_jurisdiction_reason:
            type: string
            enum:
            - working_abroad
            - studying_abroad
            - dual_residency
            - business_abroad
            - real_estate_abroad
            - other
            description: Optional. Reason for the tax residence jurisdiction differing from the legal jurisdiction. Defaults to "unknown" if not provided.
            example: working_abroad
          is_w_form_certified:
            type: boolean
            description: "Indicates whether the participant is W-Form certified, required for customers onboarded to a US platform.\n\n - When `true`, user can be onboarded without restriction, so long as other mandatory fields are provided at time of onboarding.\n - When `false`, user is restricted and ineligible to transact on the platform."
            example: true
          w_form_certification:
            type: number
            description: 'Must be provided with `is_w_form_certified` boolean field to indicate the time at which the user certified their W-form.


              In the event the user transitions from an uncertified to a certified, the platform must provide a new `w_form_certification` and update `is_w_form_certified` from `false` to `true`.'
            example: 1667504636159
          signature:
            type: string
            description: This field is used to capture the customer's first and last name as used on the W-form.
            example: signature_data
          signature_timestamp:
            type: number
            description: This field captures the timestamp at which the user signed their W-form, used in conjunction with the `signature` field.
            example: 1667504636159
          payee_exemption:
            type: string
            enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - NONE
            description: Payee exemption field that captures enum values for any applicable payee exemption codes 1 - 13, or NONE if no exemption applies. Required for customers onboarded to a US platform.
            example: NONE
          fatca_reporting_exemption:
            type: string
            enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - NONE
            description: FATCA reporting exemption code (1-13 or NONE)
            example: NONE
          is_not_subject_backup_withholding:
            type: boolean
            description: "Backup withholding attestation flag. Required for customers onboarded to a US platform.\n - If the participant confirms they are **not** subject to backup withholding, this field should be set to `true`.\n - If the participant **is** subject to backup withholding, this field should be set to `false`.\nThis acts as a positive attestation that the participant confirms they are not subject to backup withholding."
            example: false
          id_number_type:
            type: string
            enum:
            - us_drivers_license
            - us_passport
            - us_passport_card
        required:
        - first_name
        - last_name
        - email
        - address_one
        - city
        - jurisdiction_code
        - date_of_birth
        - citizenship_code
        - kyc
        - kyc_timestamp
        - sanction_screening
        - sanction_screening_timestamp
        - zip
        - signed_timestamp
        - tax_id
        - b_notice_receipt
        - is_w_form_certified
        - w_form_certification
        - signature
        - signature_timestamp
        - payee_exemption
        - fatca_reporting_exemption
        - is_not_subject_backup_withholding
      - title: Non-US Citizen Customer - Reliance
        type: object
        description: Platforms on the vendor reliance track can submit this reduced set of fields for non-US customers. Additional identity verification documents are required for non-US citizens.
        properties:
          first_name:
            type: string
            description: The first name of the customer being onboarded.
            example: John
          middle_name:
            type: string
            description: The middle name of the customer being onboarded.
            example: Middle
          last_name:
            type: string
            description: The last name of the customer being onboarded.
            example: Smith
          email:
            type: string
            description: 'Customer email address, required.

              Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
            example: test@example.com
          phone_number:
            type: string
            description: The phone number of the participant
            example: '15557778888'
          address_one:
            type: string
            description: 'First line for the customer''s address.


              Notes:

              - The regular maximum length is 80 characters.

              - If the platform is on the vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: 123 Main St.
          date_of_birth:
            type: string
            description: Date of birth of the customer in the format `YYYY-MM-DD`
            example: '1985-09-02'
          address_two:
            type: string
            description: 'Extra information, like an apartment or suite number.


              Notes:

              - The maximum length is `50` characters for platform using KYCaaS through zerohash.

              - If the platform is on the shared vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: Suite 1000
          city:
            type: string
            description: The city customer resides in.
            example: Chicago
          zip:
            type: string
            description: Zip code of the customer, required if `country` is `USA`, min 5 characters or `<5digits>-<4digits>`, no leading or trailing spaces", e.g. 77777 or 77777-7777.
            example: '12345'
          postal_code:
            type: string
            description: Same as `zip`. Postal code of the customer, in the format "min 4 characters, no leading or trailing spaces".
            example: '12345'
            minLength: 4
          jurisdiction_code:
            type: string
            description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
            example: US-IL
            enum:
            - US-AL
            - US-AK
            - US-AZ
            - US-AR
            - US-CA
            - US-CO
            - US-CT
            - US-DE
            - US-FL
            - US-GA
            - US-HI
            - US-ID
            - US-IL
            - US-IN
            - US-IA
            - US-KS
            - US-KY
            - US-LA
            - US-ME
            - US-MD
            - US-MA
            - US-MI
            - US-MN
            - US-MS
            - US-MO
            - US-MT
            - US-NE
            - US-NV
            - US-NH
            - US-NJ
            - US-NM
            - US-NY
            - US-NC
            - US-ND
            - US-OH
            - US-OK
            - US-OR
            - US-PA
            - US-RI
            - US-SC
            - US-SD
            - US-TN
            - US-TX
            - US-UT
            - US-VT
            - US-VA
            - US-WA
            - US-WV
            - US-WI
            - US-WY
            - US-DC
            - US-AS
            - US-GU
            - US-MP
            - US-PR
            - US-UM
            - US-VI
          citizenship_code:
            type: string
            enum:
            - IE
            - GB
            - FR
            - DE
            - ES
            - IT
            - NL
            - BE
            - LU
            - AT
            - PT
            - SE
            - 'NO'
            - DK
            - FI
            - CH
            - PL
            - CZ
            - SK
            - HU
            - GR
            - RO
            - BG
            - HR
            - SI
            - EE
            - LV
            - LT
            - MT
            - CY
            description: ISO 3166-1 alpha-2 Country Code format. Must **not** be `US` for this schema
          id_number_type:
            type: string
            enum:
            - non_us_passport
            - non_us_other
            - us_permanent_resident_card
            - us_border_crossing_card
            - us_alien_card
            - us_id_card
            description: Passport and Non-US Other values are only valid for non-US citizens
          id_number:
            type: string
            description: "The ID number for the customer. \n - Required when `citizenship_code` is not `US`\n - Required when `citizenship_code : US` but `tax_id` is an ITIN (a 9-digit US ID that begins with the number `9`)."
            example: '123456789'
          id_issuing_authority:
            type: string
            description: ISO-3166-1_A2 country code that issued the ID. Required if `id_number` is provided.
            example: null
          id_issuing_locality:
            type: string
            description: The locality where the customer's ID was issued, as is defined on their ID (Passport, etc.) ISO 3166-1 alpha-2 Country Code format.
          id_issuing_date:
            type: string
            description: ID Issuing Date of the customer in the format `YYYY-MM-DD`
            example: '2020-12-16'
          id_expiration_date:
            type: string
            description: "ID Expiration Date of the customer in the format `YYYY-MM-DD`.\n\nRequired if; \n - `id_number_type=passport` \n - `id_number_type=us-passport` \n - `id_number_type=non-us-passport`"
            example: '2026-12-25'
          non_us_other_type:
            type: string
            description: This is required if you select `non_us_other` for the `id_number_type` - a freeform string to describe the ID type
            example: null
          kyc:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed or failed KYC by vendor
            example: pass
          kyc_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          sanction_screening:
            type: string
            enum:
            - pass
            - fail
            description: Whether the participant passed sanctions checks (Platforms with X do not need to send `sanction_screening`)
            example: pass
          sanction_screening_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when KYC was passed. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          signed_timestamp:
            type: number
            description: The UNIX timestamp (in milliseconds) when the  Services Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
            example: 1603378501286
          signed_agreements:
            type: array
            items:
              type: object
              required:
              - type
              - region
              - signed_timestamp
              properties:
                type:
                  type: string
                  enum:
                  - fund_auto_convert
                  - payment_services_terms
                  - account_link
                  - account_funding_payouts
                  - account_funding_general
                  - account_funding_pay
                  - crypto_payouts_service_terms
                  - staking
                  - trust_agreement
                  - zhllc_user_agreement_v1
                  - zhllc_privacy_policy_v1
                  - zhllc_regulatory_disclosures_v1
                  - auth_user_services_agreement_v1
                  - zhllc_payment_sender_terms_v1
                  - zhllc_third_party_disclosures_v1
                  - connect_privacy_policy_v1
                  example: user_agreement
                region:
                  type: string
                  enum:
                  - worldwide
                  - us
                  - brazil
                  - uk
                  - eu
                  example: us
                signed_timestamp:
                  type: number
                  description: The UNIX timestamp (in milliseconds) when the Fund Auto Convert Agreement was accepted by the participant. This timestamp value must be from no longer than one (1) year in the past or one (1) day in the future.
                  example: 1603378501286
          b_notice_receipt:
            type: boolean
            description: Indicates whether a user has been flagged in an IRS B-Notice as not having up-to-date tax information on file. Required for customers onboarded to a US platform.
            example: true
          is_w_form_certified:
            type: boolean
            description: "Indicates whether the participant is W-Form certified, required for customers onboarded to a US platform.\n\n - When `true`, user can be onboarded without restriction, so long as other mandatory fields are provided at time of onboarding.\n - When `false`, user is restricted and ineligible to transact on the platform."
            example: true
          w_form_certification:
            type: number
            description: 'Must be provided with `is_w_form_certified` boolean field to indicate the time at which the user certified their W-form.


              In the event the user transitions from an uncertified to a certified, the platform must provide a new `w_form_certification` and update `is_w_form_certified` from `false` to `true`.'
            example: 1667504636159
          w8_ben:
            type: object
            description: Wrapper sub-object holding W-8BEN tax certification data for a foreign (non-US) individual customer. Optional at the wrapper level.
            properties:
              ftin:
                type: string
                description: Foreign tax identification number issued by the participant's country of tax residence. Required unless `ftin_required = false`.
                example: AB123456C
              ftin_required:
                type: boolean
                description: Whether the participant's country legally issues an FTIN. Required whenever the sub-object is present.
                example: true
              reference_numbers:
                type: string
                description: Optional free-text reference numbers for the platform to connect the tax form to a specific account or financial record.
                example: REF-001
              treaty_claim:
                type: object
                description: Treaty benefits claim block. Optional.
                properties:
                  is_eligible:
                    type: boolean
                    description: Whether the participant is claiming reduced US withholding under a tax treaty. If `false` or omitted, the rest of the treaty block is ignored and no W-8 form is generated.
                    example: true
                  country:
                    type: string
                    description: Participant's country of tax residence whose treaty with the US is being invoked (ISO 3166-1 alpha-2). Required when `is_eligible = true`.
                    example: GB
                    enum:
                    - AD
                    - AE
                    - AF
                    - AG
                    - AI
                    - AL
                    - AM
                    - AO
                    - AQ
                    - AR
                    - AS
                    - AT
                    - AU
                    - AW
                    - AX
                    - AZ
                    - BA
                    - BB
                    - BD
                    - BE
                    - BF
                    - BG
                    - BH
                    - BI
                    - BJ
                    - BL
                    - BM
                    - BN
                    - BO
                    - BQ
                    - BR
                    - BS
                    - BT
                    - BV
                    - BW
                    - BY
                    - BZ
                    - CA
                    - CC
                    - CD
                    - CF
                    - CG
                    - CH
                    - CI
                    - CK
                    - CL
                    - CM
                    - CN
                    - CO
                    - CR
                    - CU
                    - CV
                    - CW
                    - CX
                    - CY
                    - CZ
                    - DE
                    - DJ
                    - DK
                    - DM
                    - DO
                    - DZ
                    - EC
                    - EE
                    - EG
                    - EH
                    - ER
                    - ES
                    - ET
                    - FI
                    - FJ
                    - FK
                    - FM
                    - FO
                    - FR
                    - GA
                    - GB
                    - GD
                    - GE
                    - GF
                    - GG
                    - GH
                    - GI
                    - GL
                    - GM
                    - GN
                    - GP
                    - GQ
                    - GR
                    - GS
                    - GT
                    - GU
                    - GW
                    - GY
                    - HK
                    - HM
                    - HN
                    - HR
                    - HT
                    - HU
                    - ID
                    - IE
                    - IL
                    - IM
                    - IN
                    - IO
                    - IQ
                    - IR
                    - IS
                    - IT
                    - JE
                    - JM
                    - JO
                    - JP
                    - KE
                    - KG
                    - KH
                    - KI
                    - KM
                    - KN
                    - KP
                    - KR
                    - KW
                    - KY
                    - KZ
                    - LA
                    - LB
                    - LC
                    - LI
                    - LK
                    - LR
                    - LS
                    - LT
                    - LU
                    - LV
                    - LY
                    - MA
                    - MC
                    - MD
                    - ME
                    - MF
                    - MG
                    - MH
                    - MK
                    - ML
                    - MM
                    - MN
                    - MO
                    - MP
                    - MQ
                    - MR
                    - MS
                    - MT
                    - MU
                    - MV
                    - MW
                    - MX
                    - MY
                    - MZ
                    - NA
                    - NC
                    - NE
                    - NF
                    - NG
                    - NI
                    - NL
                    - 'NO'
                    - NP
                    - NR
                    - NU
                    - NZ
                    - OM
                    - PA
                    - PE
                    - PF
                    - PG
                    - PH
                    - PK
                    - PL
                    - PM
                    - PN
                    - PR
                    - PS
                    - PT
                    - PW
                    - PY
                    - QA
                    - RE
                    - RO
                    - RS
                    - RU
                    - RW
                    - SA
                    - SB
                    - SC
                    - SD
                    - SE
                    - SG
                    - SH
                    - SI
                    - SJ
                    - SK
                    - SL
                    - SM
                    - SN
                    - SO
                    - SR
                    - SS
                    - ST
                    - SV
                    - SX
                    - SY
                    - SZ
                    - TC
                    - TD
                    - TF
                    - TG
                    - TH
                    - TJ
                    - TK
                    - TL
                    - TM
                    - TN
                    - TO
                    - TR
                    - TT
                    - TV
                    - TW
                    - TZ
                    - UA
                    - UG
                    - UM
                    - US
                    - UY
                    - UZ
                    - VA
                    - VC
                    - VE
                    - VG
                    - VI
                    - VN
                    - VU
                    - WF
                    - WS
                    - YE
                    - YT
                    - ZA
                    - ZM
                    - ZW
                  residence_certification:
                    type: boolean
                    description: Participant's on-form attestation that they are a tax resident of `country`. Must be `true` to claim treaty benefits. Required when `is_eligible = true`.
                    example: true
                  income_type:
                    type: string
                    enum:
                    - royalties_other
                    - business_profits
                    description: 'Category of US-source income the claim applies to: `business_profits` covers trading gains and similar active income; `royalties_other` covers royalties and other passive income. Required when `is_eligible = true`. Accepted string tokens listed in enum; legacy numeric values still accepted for backward compatibility.'
                    example: royalties_other
                  withholding_rate:
                    type: string
                    description: Reduced rate granted by the treaty article, as a string percentage (e.g. "0", "10", "15"). Required when `is_eligible = true`.
                    example: '15'
                  article_paragraph:
                    type: string
                    description: Treaty article and paragraph authorizing the rate (e.g. "Article 12, paragraph 1"). Free text but should match the actual treaty section. Required when `is_eligible = true`.
                    example: Article 12(2)
                  additional_conditions:
                    type: boolean
                    description: Whether the participant asserts that extra conditions in the treaty article are met. Send `true` only if the participant has affirmatively confirmed. Required when `is_eligible = true`.
                    example: false
          signature:
            type: string
            description: This field is used to capture the customer's first and last name as used on the W-form.
            example: signature_data
          signature_timestamp:
            type: number
            description: This field captures the timestamp at which the user signed their W-form, used in conjunction with the `signature` field.
            example: 1667504636159
        required:
        - first_name
        - last_name
        - email
        - address_one
        - city
        - jurisdiction_code
        - date_of_birth
        - citizenship_code
        - kyc
        - kyc_timestamp
        - sanction_screening
        - sanction_screening_timestamp
        - zip
        - signed_timestamp
        - id_number_type
        - id_issuing_authority
        - id_number
        - b_notice_receipt
        - is_w_form_certified
        - w_form_certification
        - signature
        - signature_timestamp
        - payee_exemption
        - fatca_reporting_exemption
        - is_not_subject_backup_withholding
      - title: Partially Onboarded Participant
        type: object
        description: Fields for a new customer for the Partially Onboarded Participant model.
        properties:
          partial:
            type: boolean
            description: Mandatory flag for the partially onboarded participant, must be set to "true".
            example: true
          first_name:
            type: string
            description: The first name of the customer being onboarded.
            example: John
          last_name:
            type: string
            description: The last name of the customer being onboarded.
            example: Smith
          date_of_birth:
            type: string
            description: Date of birth of the customer in the format `YYYY-MM-DD`
            example: '1985-09-02'
          email:
            type: string
            description: 'Customer email address, required.

              Note: zerohash will validate that the email is a correctly formatted `email`, and that the value is unique per-platform'
            example: test@example.com
          address_one:
            type: string
            description: 'First line for the customer''s address.


              Notes:

              - The regular maximum length is 80 characters.

              - If the platform is on the vendor reliance track, the maximum length increases to `200` characters.

              - PO Box addresses are not accepted.'
            example: 123 Main St.
          city:
            type: string
            description: The city customer resides in.
            example: Chicago
          postal_code:
            type: string
            description: Same as `zip`. Postal code of the customer, in the format "min 4 characters, no leading or trailing spaces".
            example: '12345'
            minLength: 4
          jurisdiction_code:
            type: string
            description: The ISO 3166-2 subdivision code that the customer resides in. A full list of valid jurisdiction codes can be retrieved from the [`GET /jurisdictions/subdivisions` endpoint](https://docs.zerohash.com/reference/get_jurisdiction-subdivisions) passing a `country` parameter.
            example: US-IL
            enum:
            - US-AL
            - US-AK
            - US-AZ
            - US-AR
            - US-CA
            - US-CO
            - US-CT
            - US-DE
            - US-FL
            - US-GA
            - US-HI
            - US-ID
            - US-IL
            - US-IN
            - US-IA
            - US-KS
            - US-KY
            - US-LA
            - US-ME
            - US-MD
            - US-MA
            - US-MI
            - US-MN
            - US-MS
            - US-MO
            - US-MT
            - US-NE
            - US-NV
            - US-NH
            - US-NJ
            - US-NM
            - US-NY
            - US-NC
            - US-ND
            - US-OH
            - US-OK
            - US-OR
            - US-PA
            - US-RI
            - US-SC
            - US-SD
            - US-TN
            - US-TX
            - US-UT
            - US-VT
            - US-VA
            - US-WA
            - US-WV
            - US-WI
            - US-WY
            - US-DC
            - US-AS
            - US-GU
            - US-MP
            - US-PR
            - US-UM
            - US-VI
          citizenship_code:
            type: string
            example: US
            description: The ISO-3166-1 alpha2 citizenship of the participant, e.g. `US`.
            enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
[...]
